{% extends "layout.html" %}

{% block pageTitle %}
  Check your email
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ pinsHeader({
    serviceName: "Get updates about this project", 
    serviceUrl: "/sprint-6/get-updates/",
    saveAndExit: false
  }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body-l">
                We’ve sent an email to <strong>{% if not data['email'] %} joe.bloggs@email.com {% endif %}{{data['email']}}</strong>
            </p>
            <p>Click the link in the email to confirm you want emails from Planning Inspectorate about:</p>
            <ul class="govuk-list">
                <li>A404 Dewsbury</li>
            </ul>
            <p>The link will stop working after 48 hours.</p>
             {{ govukDetails({
                summaryText: "Not received an email?",
                html: '
                    <p class="govuk-body">Emails sometimes take a few minutes to arrive.</p>
                    <p class="govuk-body">If you do not receive an email soon, check your spam or junk folder.</p>
                    <p class="govuk-body">If this does not work, <a href="#">contact The Planning Inspectorate for help</a>.</p>
                   '
                }) }}
            <a href="./verify-email" class="govuk-button govuk-button--secondary">Show email</a>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ pinsFooter() }}
{% endblock %}