{% extends "layout.html" %}

{% block pageTitle %}
Does your submission contain personal information?
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back();"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/design-sprint-2/sensitive-information-routing" method="post" novalidate>

      <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l">Deadline item:<br/> {{data['deadline']['deadlinename']}}</span>
        {% if data['deadlineitem']['submissiontext']=="Both" %}
        <h1 class="govuk-fieldset__heading">
          Do your comment and files contain personal information?
        </h1>
      {% endif %}
      {% if data['deadlineitem']['submissiontext']=="Files" %}
        <h1 class="govuk-fieldset__heading">
          Do your files contain personal information?
        </h1>
        {% endif %}
        {% if data['deadlineitem']['submissiontext']=="Comment" %}
        <h1 class="govuk-fieldset__heading">
          Does your comment contain personale information?
        </h1>
        {% endif %}
      </legend>
      <div id="sensitive-information-hint" class="govuk-hint">
        <p class="govuk-body">Check if your files contain information relating to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>children</li>
          <li>health</li>
          <li>crime</li>
          </ul>

            <p class="govuk-body">This also includes any information relating to an individual's:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>race</li>
            <li>ethnic origin</li>
            <li>politics</li>
            <li>religion</li>
            <li>trade union membership</li>
            <li>genetics</li>
            <li>biometrics</li>
            <li>sex life</li>
            <li>sexual orientation</li>
          </ul>
      </div>


      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sensitive-information-yes" name="deadlineitem[sensitiveinformation]" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="sensitive-information-yes">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sensitive-information-no" name="deadlineitem[sensitiveinformation]" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="sensitive-information-no">
            No
          </label>
        </div>
      </div>

    </fieldset>
  </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>
{% endblock %}


{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
