{% extends "layout.html" %} {% block pageTitle %} A404 Dewsbury project overview
{% endblock %} {% block headIcons %}
<link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %} {% block head %}
<!--[if lte IE 8
  ]><link
    href="/public/stylesheets/unbranded-ie8.css"
    rel="stylesheet"
    type="text/css"
/><![endif]-->
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

<!-- Mapbox resources -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet" />
<!-- end Mapbox -->
{% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ pinsHeader() }} {% endblock %} {% block beforeContent %} {{
govukPhaseBanner({ tag: { text: "beta" }, html: 'This is a new service – your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}
{% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
        <div class="pins-breadcrumb govuk-!-padding-5 govuk-!-margin-bottom-6">

          <strong class="pins-breadcrumb__part-of ">Part of</strong>
          <a class="pins-breadcrumb__title govuk-link" href="javascript:history.back()">A404 Dewsbury</a>
        </div>
        <h1 class="govuk-heading-l">All examination information</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-form-group">
          <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
              Keywords </label>
          </h3>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
              Filter by theme
            </h2>
          </legend>
          <fieldset class="govuk-fieldset" aria-labelledby="who-submitted">
            <div class="govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="theme-noise-traffic-air">
                <label class="govuk-label govuk-checkboxes__label" for="theme-noise-traffic-air">Noise, traffic and air quality</label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="theme-landscape-visual">
                <label class="govuk-label govuk-checkboxes__label" for="theme-landscape-visual">Landscape and visual</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="heritage">
                <label class="govuk-label govuk-checkboxes__label" for="heritage">Heritage</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="theme-wildlife-habitats">
                <label class="govuk-label govuk-checkboxes__label" for="theme-wildlife-habitats">Local wildlife and habitats</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
              Who submitted
            </h2>
          </legend>

          <fieldset class="govuk-fieldset" aria-labelledby="who-submitted">
            <div class="govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">

                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="who-submitted-examining-panel">
                <label class="govuk-label govuk-checkboxes__label" for="who-submitted-examining-panel">Examining authority</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="who-submitted-developer">
                <label class="govuk-label govuk-checkboxes__label" for="who-submitted-developer">Developer</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="who-submitted-individual-interested-party">
                <label class="govuk-label govuk-checkboxes__label" for="who-submitted-individual-interested-party">Individual interested party</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="who-submitted-organisation-interested-party">
                <label class="govuk-label govuk-checkboxes__label" for="who-submitted-organisation-interested-party">Organisation interested party</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="who-submitted-official-body-and-local-authority">
                <label class="govuk-label govuk-checkboxes__label" for="who-submitted-official-body-and-local-authority">Official bodies and local authorities</label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
              Filter by type of information
            </h2>
          </legend>

          <fieldset class="govuk-fieldset" aria-labelledby="who-submitted">
            <div class="govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">

                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="Topics-and-replies">
                <label class="govuk-label govuk-checkboxes__label" for="type-plans-and-drawings">Topics and replies</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="Deadlines">
                <label class="govuk-label govuk-checkboxes__label" for="type-environmental">Deadlines</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="Hearing-agendas">
                <label class="govuk-label govuk-checkboxes__label" for="type-procedure">Hearing agendas</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="Recordings-of-hearings">
                <label class="govuk-label govuk-checkboxes__label" for="type-procedure">Recordings of hearings</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="Procedural-decisions">
                <label class="govuk-label govuk-checkboxes__label" for="type-procedure">Procedural decisions</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" name="theme" id="Site-inspections">
                <label class="govuk-label govuk-checkboxes__label" for="type-consultation-reports">Site inspections</label>
              </div>
            </div>
          </fieldset>
        </div>
        <a href="#" class="govuk-button">Apply filters</a>
      </div>
      <div class="govuk-grid-column-three-quarters">


        <div class="govuk-grid-row ">

          <div class="govuk-grid-column-one-half">
            <p class="results"><strong><span id="results-number">{{ representations.length}}</span> results<strong></p>
          </div>

          <div style="display:flex; flex-direction: row;" class="govuk-grid-column-one-half">
            <label class="govuk-label govuk-!-margin-right-2" for="document-results-sort">Sort by: </label>
            <select id="document-results-sort" class="govuk-select">
              <option selected>Recently updated</option>
            </select>
          </div>
        </div>
        <hr />

        {% for representation in representations %}
          <p>{{ representation.date }}</p>
          <p>
            <strong>{{ representation.by }}</strong>
            {% if representation.onBehalf %}
             on behalf of <strong>{{ representation.onBehalf }}</strong>
            {% endif %}
          </p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        {% endfor %}

        <div class="pins-search-results-pagination" id="pins-search-results-pagination">
          <a href="#" class="govuk-link govuk-link--no-underline">1</a>
          <a href="#" class="govuk-link">2</a>
          <a href="#" class="govuk-link">Next</a>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %} {% block footer %} {{ pinsFooter() }} {% endblock %}
