{% extends "layout.html" %}

{% block pageTitle %}
Which items would you like to submit against for this deadline?  {% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back();"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/design-sprint-3/deadline-items-answer" method="post" novalidate>

      <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="daedline-item-hint   {% if (data['error']=="true")%}deadline-item-error{% endif %}">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

      <!--  <span class="govuk-caption-l">Add deadline item</span>-->
        <h1 class="govuk-fieldset__heading">
Which item would you like to submit against for this deadline?       </h1>
      </legend>
      <div id="ip-number-hint" class="govuk-hint">Select the item you want to submit against. You can submit against another item later.</div>
        {% if (data['error']=="true")%}
      <p id="deadline-item-error" class="govuk-error-message">
           <span class="govuk-visually-hidden">Error:</span> Select a deadline item
         </p>
         {% endif %}
      <div class="govuk-radios" data-module="govuk-radios">
 {% for item in data['deadlineitemlist'] %}
 {% if item.id == data['deadline'] %}

       <div class="govuk-radios__item">
         <input class="govuk-radios__input" id="{{item.name}}" name="deadlineitem[deadlinename]" type="radio" value="{{item.name}}">
         <label class="govuk-label govuk-radios__label" for="{{item.name}}">
           {{item.name}}
         </label>
       </div>
       {% endif %}
       {% endfor %}
     </div>

   </fieldset>
 </div>






          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>
{% endblock %}


{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
