{% extends "layout.html" %}

{% block pageTitle %}
Make a comment
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back();"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/design-sprint-3/make-comment-routing" method="post" novalidate>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="65234">

      <div class="govuk-form-group">
        <span class="govuk-caption-l">Deadline item:<br/>{{data['deadlineitem']['deadlinename']}}</span>

        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
            Make a comment
          </label>
        </h1>
        <div id="more-detail-hint" class="govuk-hint">
          This comment should be relevant to '{{data['deadlineitem']['deadlinename']}}'.
          </div>
        <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint" name="deadlineitem[comment]" rows="5" aria-describedby="make-comment-hint"></textarea>
      </div>
      
 </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      </form>
</div>
    </div>
  </div>
{% endblock %}


{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
