{% extends "layout.html" %}

{% block pageTitle %}
  Have your say during the Examination of the application
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back();"
}) }}


{% endblock %}

{% block content %}
<style type="text/css">
  .gem-c-related-navigation {
    color: #0b0c0c;
    border-top: 2px solid #1d70b8;
    margin-bottom: 60px;
}

.gem-c-layout-for-public {
    font-family: "GDS Transport",arial,sans-serif;
}
.gem-c-related-navigation__main-heading {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 15px;
    margin-bottom: 10px;
}

.gem-c-related-navigation__nav-section {
    margin-bottom: 30px;
}

.gem-c-related-navigation__link-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 1.25em;
}

.gem-c-related-navigation__link {
    list-style-type: none;
    margin-top: 15px;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18=4px;
    line-height: 1.45;
}
</style>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
    Have your say during the Examination of the application
      </h1>
    </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
        Use this service to have your say about the <span class="govuk-!-font-weight-bold">Drax Bioenergy with Carbon Capture and Storage Project</span> at the Examination stage.</p>

    <p class="govuk-body">We'll ask for your personal details and your examination comments ("written representation") about this project.</p>

  <!--  <p class="govuk-body">You'll have until <span class="govuk-!-font-weight-bold">INSERT DEADLINE DATE</span> to submit your comments.</p>-->

  <!--  <h2 class="govuk-heading-m">Commenting about the project</h2>
    <p class="govuk-body">To make sure the Examination Authority considers your comments,  you may want to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>highlight what you consider to be the main issues and impacts and why</li>
      <li>provide a summary of points explaining why you agree or disagree with the project application
</li>
      <li>explain how the project may affect your day-to-day life</li>
    </ul>-->

  <!--  <h2 class="govuk-heading-m">Other ways to have your say</h2>
    <p class="govuk-body">If you cannot apply online, you can <a href="javascript:alert('Not in prototype')" class="govuk-link">apply by post</a>. The address to send your application to is at the end of the form.</p>
-->


  <h2 class="govuk-heading-m">Before you start</h2>
  <!--<h2 class="govuk-heading-s">If you're an individual and have registered as an interested party</h2>-->


  <p class="govuk-body">You'll need your:</p>
  <ul class="govuk-list govuk-list--bullet">

    <li>interested party number</li>


    <li>documents to support your comments if you plan to upload them</li>
  </ul>
  <p class="govuk-body">If you have not registered as an interested party, we'll ask you for your personal details and documents to support your comments if you plan to upload them.</p>

  <!--<h2 class="govuk-heading-s">If you're submitting comments as an organisation you work for</h2>-->
  <!--<p class="govuk-body">You'll need your organisation's:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>name</li>
    <li>interested party number</li>
    <li>email address
</li>
    <li>supporting documents if you plan to upload your documents</li>
  </ul>-->
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukButton({
    text: "Start now",
    href: "ip-number-available",
    isStartButton: true
  }) }}
    </div>



<!--  <div class="govuk-grid-column-one-third">

<div class="gem-c-contextual-sidebar">


  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-53858ca5" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-53858ca5" data-module="gem-toggle" data-gem-toggle-module-started="true">


  <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click" data-gem-track-click-module-started="true">


        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/working-for-yourself" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Working for yourself&quot;}" href="#">Project overview</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/intellectual-property-an-overview" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Intellectual property and your work&quot;}" href="#">Process guide</a></li>

  </ul>
</nav>

  </div>



</div>-->
  </div>
</div>
{% endblock %}


{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
