{% extends "layout.html" %}

{% block pageTitle %}
Which deadline would you like to submit against?
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back();"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/design-sprint-2b/choose-deadline-answer" method="post" novalidate>
        {% if (data['error']=="true")%}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">

      <li>
        <a href="#deadline-error">Select a deadline</a>
      </li>
    </ul>
  </div>
</div>
{% endif %}

      <div class="govuk-form-group     {% if (data['error']=="true")%} govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" aria-describedby="change-deadline-hint   {% if (data['error']=="true")%}deadline-error{% endif %}">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        Which deadline would you like to submit against?
        </h1>
      </legend>
        {% if (data['error']=="true")%}
      <p id="deadline-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Select a deadline
    </p>
    {% endif %}
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="choose-deadline-9" name="deadline[deadline]" type="radio" value="Deadline 9">
          <label class="govuk-label govuk-radios__label" for="choose-deadline-9">
          9
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="choose-deadline-10" name="deadline[deadline]" type="radio" value="Deadline 10">
          <label class="govuk-label govuk-radios__label" for="choose-deadline-10">
           10
          </label>
        </div>
      </div>

    </fieldset>
  </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>
{% endblock %}


{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
