{% set containerClasses = containerClasses | default("full-bleed") %}

{% extends "layout.html" %}
{% block pageTitle %} A404 Dewsbury project overview
{% endblock %}
{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon"/>
{% endblock %}
{% block head %}
  <!--[if lte IE 8
  ]><link
    href="/public/stylesheets/unbranded-ie8.css"
    rel="stylesheet"
    type="text/css"
/><![endif]-->
  <!--[if gt IE 8]><!-->
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css"/>
  <!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css"/>
  {% endfor %}

  <!-- Mapbox resources -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet"/>
  <!-- end Mapbox -->
{% endblock %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}
{% block beforeContent %}
<div style="background: #e4f5f4; margin: 0 -60px">    
  <div class="full-bleed">
    {{
      govukPhaseBanner({ 
        tag: { 
          text: "beta" 
        }, 
        html: 'This is a new service – your a class="govuk-link " href="#">feedback</a> will help us to improve it.' 
      }) 
    }}
    <p class="govuk-heading-xl govuk-!-padding-top-9 govuk-!-padding-bottom-6" >A404 Dewsbury</p>
  </div>
</div>
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
    
        </div>
      </div>
      <div class="full-bleed-flex-container">
        <div class="side-nav">
          {% set current = 'about-the-application' %}
          {% include "../includes/vertical_tabs.html" %}
        </div>
        <div class="govuk-grid-row">
        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">
          <div class="govuk-grid-column-full" >
            <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Project application documents</h1>
            <p class="results">
                Showing  <strong>1</strong> to <strong>20</strong> of <strong>313</strong> documents
              </p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <div class=" filter-mobile">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text govuk-!-font-size-27 govuk-!-font-weight-bold">
                    Filter documents
                  </span>
                </summary>
                <div class="govuk-details__text">
                  {% include "../includes/filters.html" %}
                </div>
              </details>
            </div>
            </div>
          </div>
              <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">
                <div class="govuk-grid-column-two-thirds">
                      <h2 class="govuk-heading-m">Pre-examination </h2>
                      <h3 class="govuk-heading-s">Additional Submissions</h3>
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link " target="_blank" href="https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/EN010106/EN010106-002116-SEF_2.1_Land%20and%20Crown%20Land%20Plans_Rev%201.pdf">
                            Applicant’s response to s51 advice - 2.1 Land and Crown Plans - Rev 1 - Pending formal acceptance by the Examining Authority once appointed
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link " target="_blank" href="https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/EN010106/EN010106-002117-SEF_2.2_Works%20Plans_Rev%201.pdf">
                            Applicant’s response to s51 advice - 2.2 Works Plans - Rev 1 - Pending formal acceptance by the Examining Authority once appointed
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link " target="_blank" href="https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/EN010106/EN010106-002122-SEF_ES_6.2_Appendix_9C_Flood%20Risk%20Assessment_Rev%201_Part%202.pdf">
                            Applicant’s response to s51 advice - 6.2 Appendix 9C - Flood Risk Assessment - Part 2 - Rev 1 -Pending formal acceptance by the Examining Authority once appointed
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      </ul>

                      <h3 class="govuk-heading-s ">Certificates and Notices</h3>
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link " target="_blank" href="https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/EN010106/EN010106-002130-Sunnica%20Energy%20Farm_S56%20Notice%20-%20Reg%209%20FINAL.pdf">
                            Section 56 Notice
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      </ul>

                      <h3 class="govuk-heading-s ">Examination Library</h3>
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link " target="_blank" href="https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/EN010106/EN010106-002090-Sunnica%20Energy%20Farm%20Examination%20Library.pdf">
                            Examination library
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      </ul>

                      <h2 class="govuk-heading-m">Review of the application </h2>
                      <h3 class="govuk-heading-s">Acceptance letter</h3>
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link " href="#">
                            Notification of Decision to Accept Application
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      </ul>

                      <h2 class="govuk-heading-m">Pre-application </h2>
                      <h3 class="govuk-heading-s">Environmental Impact Assessment Scoping</h3>
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link " href="#">
                            Cotswold District Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      </ul>

                      <h3 class="govuk-heading-s">Notice of proposed application (s46)</h3>
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link " href="#">
                            Dorset County Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link " href="#">
                            Gloucestershire County Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link " href="#">
                            Hampshire County Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link " href="#">
                            Somerset County Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link " href="#">
                            South Gloucestershire Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link " href="#">
                            South Oxfordshire and Vale of White Horse District Councils - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link " href="#">
                            West Berkshire District Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link " href="#">
                            Wiltshire Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      </ul>
                      {% include "../../includes/pagination.html"%}
                </div>
                <div style="min-width:175px;" class="govuk-grid-column-one-third filter-desktop">
                  {% include "../includes/filters.html" %}
                </div>
              </div>

          </div>
        </main>
      </div>
    {% endblock %}
    {% block footer %}
      {{ pinsFooter() }}
    {% endblock %}