{% extends "layout.html" %}
{% block pageTitle %} A404 Dewsbury project overview
{% endblock %}
{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon"/>
{% endblock %}
{% block head %}
  <!--[if lte IE 8
  ]><link
    href="/public/stylesheets/unbranded-ie8.css"
    rel="stylesheet"
    type="text/css"
/><![endif]-->
  <!--[if gt IE 8]><!-->
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css"/>
  <!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css"/>
  {% endfor %}

  <!-- Mapbox resources -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet"/>
  <!-- end Mapbox -->
{% endblock %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}
{% block beforeContent %}
  {{
govukPhaseBanner({ tag: { text: "beta" }, html: 'This is a new service – your
<a class="govuk-link govuk-!-font-weight-bold" href="#">feedback</a> will help us to improve it.' }) }}
{% endblock %}

{% block content %}

  <div class="">
    <main class="">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
          <a href="../timetable-published-email" class="govuk-back-link">Back</a>
          <p class="govuk-heading-m">A404 Dewsbury</p>
        </div>
      </div>
      <div style="width: 100%; display:flex; justify:space-between;" class="">
        <div class="" style="min-width:175px; ">
          {% set current = 'about-the-application' %}
          {% include "../includes/vertical_tabs.html" %}
        </div>
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full" >
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">Project application documents</h1>
              <p class="results">
                Showing  <strong>1</strong> to <strong>20</strong> of <strong>313</strong> documents
              </p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>
            <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds" >

              <div class="govuk-grid-row  govuk-!-padding-left-3">
                <div class="govuk-grid-column-two-thirds">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column" >
                      <h2 class="govuk-heading-m">Pre-examination </h2>
                      <h3 class="govuk-heading-s">Additional Submissions</h3>
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" target="_blank" href="https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/EN010106/EN010106-002116-SEF_2.1_Land%20and%20Crown%20Land%20Plans_Rev%201.pdf">
                            Applicant’s response to s51 advice - 2.1 Land and Crown Plans - Rev 1 - Pending formal acceptance by the Examining Authority once appointed
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" target="_blank" href="https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/EN010106/EN010106-002117-SEF_2.2_Works%20Plans_Rev%201.pdf">
                            Applicant’s response to s51 advice - 2.2 Works Plans - Rev 1 - Pending formal acceptance by the Examining Authority once appointed
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" target="_blank" href="https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/EN010106/EN010106-002122-SEF_ES_6.2_Appendix_9C_Flood%20Risk%20Assessment_Rev%201_Part%202.pdf">
                            Applicant’s response to s51 advice - 6.2 Appendix 9C - Flood Risk Assessment - Part 2 - Rev 1 -Pending formal acceptance by the Examining Authority once appointed
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      </ul>
                    </div>
                  </div>
                  <div class="govuk-grid-row govuk-!-margin-top-7">
                    <div class="govuk-grid-column">
                      <h3 class="govuk-heading-s ">Certificates and Notices</h3>
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" target="_blank" href="https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/EN010106/EN010106-002130-Sunnica%20Energy%20Farm_S56%20Notice%20-%20Reg%209%20FINAL.pdf">
                            Section 56 Notice
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    </ul>
                   </div>
                  </div>
                  <div class="govuk-grid-row govuk-!-margin-top-7">
                    <div class="govuk-grid-column">
                      <h3 class="govuk-heading-s ">Examination Library</h3>
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" target="_blank" href="https://infrastructure.planninginspectorate.gov.uk/wp-content/ipc/uploads/projects/EN010106/EN010106-002090-Sunnica%20Energy%20Farm%20Examination%20Library.pdf">
                            Examination library
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    </ul>
                   </div>
                  </div>
                  <div class="govuk-grid-row govuk-!-margin-top-9">
                    <div class="govuk-grid-column">
                      <h2 class="govuk-heading-m">Review of the application </h2>
                      <h3 class="govuk-heading-s">Acceptance letter</h3>
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" href="#">
                            Notification of Decision to Accept Application
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      </ul>
                    </div>
                  </div>
                  <div class="govuk-grid-row govuk-!-margin-top-9">
                    <div class="govuk-grid-column">
                      <h2 class="govuk-heading-m">Pre-application </h2>
                      <h3 class="govuk-heading-s">Environmental Impact Assessment Scoping</h3>
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" href="#">
                            Cotswold District Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      </ul>
                    </div>
                  </div>
                  <div class="govuk-grid-row govuk-!-margin-top-7">
                    <div class="govuk-grid-column">
                      <h3 class="govuk-heading-s">Notice of proposed application (s46)</h3>
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" href="#">
                            Dorset County Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" href="#">
                            Gloucestershire County Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" href="#">
                            Hampshire County Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" href="#">
                            Somerset County Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" href="#">
                            South Gloucestershire Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" href="#">
                            South Oxfordshire and Vale of White Horse District Councils - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" href="#">
                            West Berkshire District Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li>
                          <a class="govuk-link govuk-!-font-weight-bold" href="#">
                            Wiltshire Council - Adequacy of Consultation Representation
                          </a>
                          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-2">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published by:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Acme Ltd
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Published on:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                5 January 2022
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                Reference number:
                              </dt>
                              <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-body-s">
                                REP - 001
                              </dd>
                            </div>
                          </dl>
                        </li>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      </ul>
                      {% include "../../includes/pagination.html"%}
                    </div>
                  </div>
                </div>
            </div>
                <div class="govuk-grid-column-one-third">
                  {% include "../includes/filters.html" %}
                </div>
          </div>
          </div>
        </main>
      </div>
    {% endblock %}
    {% block footer %}
      {{ pinsFooter() }}
    {% endblock %}

