{% extends "layout.html" %} {% block pageTitle %} Example email {% endblock %}
{% block header %}
<!-- Blank header with no service name for the start page -->
  {{ pinsHeader({
    containerClasses: "full-bleed"
  }) }}
  
   {% endblock %} {% block beforeContent %} {{
govukPhaseBanner({ tag: { text: "beta" }, html: 'This is a new service – your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}
{% endblock %} 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Your email inbox</h3>
  </div>
  <!-- list of emails -->
  <!-- email content starts here -->
  <div class="govuk-grid-column-three-quarters">
    <ul class="govuk-list">
      <li>From: &lt;support@planninginspectorate.gov.uk&gt;</li>
      <li>To: &lt;example@email.com&gt;</li>
      <li>
        Subject:
        <strong
          >TR010044: A404 Dewsbury to Berwick Down Improvement scheme
          Updates</strong
        >
      </li>
    </ul>
    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />
    <p class="govuk-body">Dear John Doe,</p>

    <h2 class="govuk-heading-m">
      TR010044: A404 Dewsbury to Berwick Down Improvement scheme Updates
    </h2>
    <p>
      Registration to become an interested party has opened for the “A404
      Dewsbury to Berwick Down Improvement scheme” application.
      <a class="govuk-link" href="./register/start">View registration form.</a>
    </p>
    <p>
      See
      <a class="govuk-link" href="./"
        >A404 Dewsbury to Berwick Down Improvement scheme</a
      >
      for more information.
    </p>
    <p>
      You are receiving this email because you are subscribed to project
      updates.
    </p>
    <p>
      You can <a href="#">unsubscribe</a> from these updates anytime by clicking
      unsubscribe or copy and paste the link below into your browser.
    </p>
    <p class="govuk-body" style="text-wrap: true;">
      <a href="#"
        >https://infrastructure.planninginspectorate.gov.uk/email-unsubscription.php/?email=your.email@planninginspectorate.gov.uk</a
      >
    </p>
    <p>
      Please note we are now using GOV.​UK Notify as our mail service so these
      updates are sent from a different mail address. There are no other changes
      to these notifications and you will continue to receive updates as before.
    </p>
    <p>
      Note: Please do not reply to this message as it was sent from a
      notification-only address that doesn’t accept incoming messages.
    </p>
    <p class="govuk-body">Yours Sincerely</p>
    <p class="govuk-body">The Planning Inspectorate</p>
  </div>
</div>
{% endblock %}
