{% set containerClasses = containerClasses | default("full-bleed") %}
{% set mainClasses = mainClasses | default("govuk-!-padding-top-0") %}

{% extends "layout.html" %}
{% block pageTitle %} A404 Dewsbury project overview
{% endblock %}
{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon"/>
{% endblock %}
{% block head %}
  <!--[if lte IE 8
  ]><link
    href="/public/stylesheets/unbranded-ie8.css"
    rel="stylesheet"
    type="text/css"
/><![endif]-->
  <!--[if gt IE 8]><!-->
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css"/>
  <!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css"/>
  {% endfor %}

  <!-- Mapbox resources -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet"/>
  <!-- end Mapbox -->
{% endblock %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}
{% block beforeContent %}
      <div class="project-section">    
        <div class="full-bleed">
          {{ govukPhaseBanner({ 
              tag: { 
                text: "beta" 
              }, 
              html: 'This is a new service – your <a class="govuk-link " href="#">feedback</a> will help us to improve it.' 
            }) 
          }}
          <p class="govuk-heading-xl govuk-!-padding-top-9 govuk-!-padding-bottom-9" >A404 Dewsbury</p>
        </div>
      </div>
{% endblock %}
{% block content %}

  <div >
    <main >

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          {% set current = 'timetable' %}
          {% include "../includes/vertical_tabs.html" %}
        </div>

        <div class="govuk-grid-column-three-quarters">

          <h2 class="govuk-heading-m">Examination timetable</h2>
          <p>Currently there are no events to display. The examination timetable will be published at the Examination stage.</p>
          <p>If you have already signed up for project updates, we will tell you when this information is published. </p>
    
          <p>
            <a href="./">Return to the project overview</a>
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
{% block footer %}
  {{ pinsFooter() }}
{% endblock %}