{% extends "layout.html" %}

{% block pageTitle %}
Which items would you like to submit against for this deadline?  {% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back();"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/design-sprint-1/deadline-items-answer" method="post" novalidate>

      <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l">{{data['deadline']['deadline']}}</span>
        <h1 class="govuk-fieldset__heading">
Which items would you like to submit against for this deadline?       </h1>
      </legend>

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="deadline-item-1" name="deadline[deadlineitems]" type="checkbox" value="Comment on submissions received by deadline 9">
         <label class="govuk-label govuk-checkboxes__label" for="deadline-item-1">
           Comment on submissions received by deadline 9
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="deadline-item-2" name="deadline[deadlineitems]" type="checkbox" value="Provide further information requested by the Examination Authority under Rule 17 of the Examination Rules
">
         <label class="govuk-label govuk-checkboxes__label" for="deadline-item-2">
          Provide further information requested by the Examination Authority under Rule 17 of the Examination Rules
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="deadline-item-other" name="deadline[deadlineitems]" type="checkbox" value="Other">
         <label class="govuk-label govuk-checkboxes__label" for="deadline-item-other">
          Other
         </label>
       </div>

     </div>

   </fieldset>
 </div>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>

    </div>
  </div>
{% endblock %}


{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
