{% extends "layout.html" %}

{% block pageTitle %}
Which items contain sensitive information?  {% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="check-answers" method="post" novalidate>

      <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l">Deadline 10</span>
        <h1 class="govuk-fieldset__heading">
Which items contain sensitive information?        </h1>
      </legend>

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="sensitive-item-1" name="sensitive-items" type="checkbox" value="Item 1">
         <label class="govuk-label govuk-checkboxes__label" for="sensitive-item-1">
           Item 1
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="sensitive-item-2" name="sensitive-items" type="checkbox" value="Item 2">
         <label class="govuk-label govuk-checkboxes__label" for="sensitive-item-2">
           Item 2
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="sensitive-item-3" name="sensitive-items" type="checkbox" value="Item 3">
         <label class="govuk-label govuk-checkboxes__label" for="sensitive-item-3">
           Item 3
         </label>
       </div>
     </div>

   </fieldset>
 </div>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>

    </div>
  </div>
{% endblock %}


{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
