{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Make a submission on a national infrastructure project
      </h1>

    <div class="govuk-body-l">
      You are making a submission on <strong> {{data['projectname']}}</strong>
    </div>
          <p>Some content stuff </p>

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Start now",
            href: "involvement",
            isStartButton: true
          }) }}

  <h2 class="govuk-heading-m">Before you start</h2>

  <p>Some more content wizardry  maybe mention about IP and non IP, need for IP number etc</p>

    </div>
  </div>
{% endblock %}


{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
