{% extends "layout.html" %}

{% block pageTitle %}
Check your answers - Register to have your say
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
    {{ pinsHeader({
    serviceName: "Register to have your say about a national infrastructure project", 
    serviceUrl: "/mvp/pre-examination/register/start",
saveAndExit: false
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before registering</h1>

      <h2 class="govuk-heading-m">Your details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Who are you registering for?
        </dt>
          <dd class="govuk-summary-list__value">
            On behalf of {{data['sprint6RepresentingFor']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../type-of-party">
            Change
            <span class="govuk-visually-hidden"> who you are registering for</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Full name
        </dt>
          <dd class="govuk-summary-list__value">
            {{ data['behalf-full-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="full-name">
            Change
            <span class="govuk-visually-hidden"> full name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Are you 18 or over?
        </dt>
          <dd class="govuk-summary-list__value">
            {{ data['behalf-over-18'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="over-18">
            Change
            <span class="govuk-visually-hidden"> 18 or over</span>
            </a>
          </dd>
        </div>

        {% if data['sprint5RepresentingFor'] == "An organisation or charity" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the name of your organisation or charity?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['behalf-organisation-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="organisation-name">
              Change
              <span class="govuk-visually-hidden"> 18 or over</span>
              </a>
            </dd>
          </div>        
        {% endif %}
  <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Email address
        </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['behalf-email'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="email">
            Change
            <span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Address
        </dt>
          <dd class="govuk-summary-list__value">
            {%if not data['behalf-selectAnAddress'] %}
              {{ data['behalf-address-line-1'] }}
              {{ data['behalf-address-line-2'] }}
              {{ data['behalf-address-line-3'] }}
              {{ data['behalf-address-postcode'] }}
              {{ data['behalf-address-country'] }}
            {% else %}
              {{ data['behalf-selectAnAddress'] | striptags(true) | escape | nl2br }} </br>
              {%if not data['behalf-postcode'] %}
               BS1 6PN
              {% endif %}
              {{data['behalf-postcode']}}
            {% endif %}
            
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="postcode">
            Change
            <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
     
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Telephone number
        </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['behalf-telephone-number'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="telephone">
            Change
            <span class="govuk-visually-hidden"> telephone number</span>
            </a>
          </dd>
        </div>
 
      </dl>
              


      <h2 class="govuk-heading-m">Who you are representing</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who are you representing
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['minMvpRepresentingFor'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="representing-for">
              Change
              <span class="govuk-visually-hidden"> who are you representing</span>
              </a>
            </dd>
          </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {% if data['minMvpRepresentingFor'] == 'A family group' %}
                  The name of the family group you are representing
            {% elif data['minMvpRepresentingFor'] == 'An organisation or charity' %}
                  The name of the organisation or charity that you are representing
            {% else %}
                  The name of the person you are representing 
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['representee-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="representing-for">
                Change
                <span class="govuk-visually-hidden"> 
  {% if data['minMvpRepresentingFor'] == 'A family group' %}
                  The name of the family group you are representing
            {% elif data['minMvpRepresentingFor'] == 'An organisation or charity' %}
                  The name of the organisation or charity that you are representing
            {% else %}
                  The name of the person you are representing 
            {% endif %}

                </span>
            </a>
          </dd>
        </div>
        {% if data['minMvpRepresentingFor'] == 'A family group' or data['minMvpRepresentingFor'] == 'A person' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are they 18 or over?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['behalf-over-18'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="over-18">
              Change
              <span class="govuk-visually-hidden"> if they are 18 or over</span>
              </a>
            </dd>
          </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Thier address
            </dt>
          <dd class="govuk-summary-list__value">
            {{ data['representee-address-line-1'] }}
            <br>{{ data['representee-address-line-2'] }}
            <br>{{ data['representee-address-line-3'] }}
            <br>{{ data['representee-address-postcode'] }}
            <br>{{ data['representee-address-country'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="representee-address">
                Change
                <span class="govuk-visually-hidden"> their address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Their email address
            </dt>
          <dd class="govuk-summary-list__value">
            {{ data['representee-email'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="representee-email">
                Change
                <span class="govuk-visually-hidden"> their email</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Their telephone number
            </dt>
          <dd class="govuk-summary-list__value">
            {{ data['representee-telephone-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="representee-telephone">
                Change
                <span class="govuk-visually-hidden"> their telephone number</span>
            </a>
          </dd>
        </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Registration comments
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['behalf-comment']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="./comment">
              Change
              <span class="govuk-visually-hidden"> their address</span>
            </a>
          </dd>
        </div>
      </dl>

    

        <form autocomplete="off" action="../declaration" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button type="submit" class="govuk-button" data-mbehalf-odule="govuk-button">
        Continue to declaration
      </button>

        </form>

      </div>
    </div>
  {% endblock %}

  {% block footer %}
    {{ pinsFooter() }}
  {% endblock %}