{% extends "layout.html" %} {% block pageTitle %} Example email {% endblock %}
{% block header %}
<!-- Blank header with no service name for the start page -->
{{ pinsHeader() }} {% endblock %} {% block beforeContent %} {{
govukPhaseBanner({ tag: { text: "beta" }, html: 'This is a new service – your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Your email inbox</h3>
  </div>
  <!-- list of emails -->
  <!-- email content starts here -->
  <div class="govuk-grid-column-three-quarters">
    <ul class="govuk-list">
      <li>From: &lt;support@planninginspectorate.gov.uk&gt;</li>
      <li>To: &lt;example@email.com&gt;</li>
      <li>
        Subject:
        <strong
          >Confirm that you want to get emails from the planning inspectorate</strong
        >
      </li>
    </ul>
    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />
    <p class="govuk-body">Dear John Doe,</p>

    <h2 class="govuk-heading-m">
      Click the link to confirm that you want to get emails from the planning inspectorate to your new mail address
    </h2>
    <p>
      Verify your email address to get updates about Drax Bioenergy with Carbon Capture and Storage:
    </p>
    <p>
      <a class="govuk-link" href="subscribed-change">Verify email address</a>
    </p>
    <p>
      Or copy and paste this link into your browser: <br/>

     <a class="govuk-link" href="./subscribed-change"
        >https://applications-prototype.herokuapp.com/sprint-11/get-updates/subscribed-change</a>
    </p>
    <div class="govuk-inset-text">
This link will stop working after 48 hours.
</div>
    <p>

    </p>

    <p>
      You’ll get an email whenever information about the proposed development is published to the website. You can change this at any time.
    </p>
    <p>
      If you did not request this email, you can ignore it.
    </p>


    <h3 class="govuk-heading-m">
      Contact us
    </h3>
    <h4 class="govuk-heading-s">
        Telephone
      </h4>
        <p>If you have a registered party number, have it with you when you call.
     <p class="govuk-body">
       Telephone: 0303 444 5000<br/>
       Monday to Friday, 9am to 12pm (except public holidays)

    </p>
<h4 class="govuk-heading-s">
  Email or contact form
</h4>

<p class="govuk-body"><a href="mailto:DraxBECCS@planninginspectorate.gov.uk">DraxBECCS@planninginspectorate.gov.uk</a> or <a href="https://contact-us.planninginspectorate.gov.uk/hc/en-gb/requests/new">complete this contact form</a>.</p>

<p class="govuk-body">If you use the form, Select 'to ask a question or get an update' from the dropdown tab.</p>


<p class="govuk-body">If you're writing an email, quote the name of the project in the subject line.</p>



<p class="govuk-body">We aim to respond within 10 working days.</p>

<h4 class="govuk-heading-s">
  Alternative formats
</h4>
<p class="govuk-body">Call or email to ask for project documents in alternative formats such as PDF, large print, easy read, audio recording or braille.</p>
<p class="govuk-body">We’ll consider your request and get back to you within 10 working days.</p>
<p>
  You can <a href="#">unsubscribe</a> from these updates anytime.
</p>


    <p class="govuk-body">the planning inspectorate</p>
  </div>
</div>
{% endblock %}
