{% extends "layout.html" %}

{% block pageTitle %}
  How often do you want to get updates about the project?
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
    {{ pinsHeader({
    serviceNameNoLink: "Get updates about this project",
    serviceUrl: "/sprint-6/get-updates/",
    saveAndExit: false
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form autocomplete="off" class="form" action="unsubscribed" method="post">


                {{ govukCheckboxes({
                  name: "type-of-updates-2",
                  fieldset: {
                    legend: {
                      text: "How often do you want to get updates about the project?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--l"
                    }
                  },

                  items: [
                    {
                      value: "Each time we update the project (you may get more than one email a day)",
                      text: "Each time we update the project (you may get more than one email a day)",
                      behaviour: "exclusive"
                    },
                    {
                      divider: "or"
                    },
                    {
                      value: "application is submitted",
                      text: "When the application is submitted"
                    },
                    {
                      value: "registration of Interested Parties opens",
                      text: "When you can register to have your say"
                    },

                    {
                      value: "none",
                      text: "Only when the final decision has been made"
                    }
                  ]
                }) }}


        <!-- {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "type-of-updates-2",
            name: "type-of-updates-2",
            fieldset: {
              legend: {
                text: "How often do you want to get updates about the project?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "All updates",
                text: "Each time we update the project (you may get more than one email a day)"
              },
              {
                value: "final",
                text: "Only when the final decision has been made"
              }
            ]
          }) }} -->

        <button class="govuk-button" data-module="govuk-button">Confirm</button>

      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
