<nav>
  <ul class="govuk-list sidenav">
  <!--  <li class="govuk-body-s {% if 'index' in current %} active {% endif %}">
      {% if not 'index' in current %}
      <a href="./">A404 Dewsbury project information</a>
      {% else %} A404 Dewsbury project information {% endif %}
    </li>-->
  <!--  <li class="govuk-body-s {% if 'project-timeline' in current %} active {% endif %}">
      {% if not 'project-timeline' in current %}
      <a href="./project-timeline">Project timeline</a>
      {% else %} Project timeline {% endif %}
    </li>-->
    <li class="govuk-body-s {% if 'project-information' in current %} active {% endif %}">
      {% if not 'project-information' in current %}
      <a href="/design-sprint-34/wide-nav/project-overview">Project information</a>
      {% else %} Project information {% endif %}
    </li>
    <!--<li class="govuk-body-s {% if 'timeline' in current %} active {% endif %}">
      {% if not 'timeline' in current %}
      <a href="/design-sprint-34/wide-nav/timeline">Timeline</a>
      {% else %} Timeline {% endif %}
    </li>-->
    <li class="govuk-body-s {% if 'section51' in current %} active {% endif %}">
      {% if not 'section51' in current %}
      <a href="/design-sprint-34/wide-nav/s51">Section 51 advice</a>
      {% else %} Section 51 advice {% endif %}
    </li>
    <li class="govuk-body-s {% if 'about-the-application' in current %} active {% endif %}">
      {% if not 'about-the-application' in current %}
      <a href="/design-sprint-34/wide-nav/doc-library">Documents</a>
      {% else %} Documents {% endif %}
    </li>
    <li class="govuk-body-s {% if 'comments' in current %} active {% endif %}">
      {% if not 'comments' in current %}
      <a href="/design-sprint-34/wide-nav/relevant-reps">Relevant representations (registration comments)</a>
      {% else %} Relevant representations (registration comments) {% endif %}
    </li>
    <li class="govuk-body-s {% if 'timetable' in current %} active {% endif %}">
      {% if not 'timetable' in current %}
      <a href="/design-sprint-34/wide-nav/exam-timetable">Examination timetable</a>
      {% else %} Examination timetable {% endif %}
    </li>
    <li class="govuk-body-s {% if 'submission' in current %} active {% endif %}">
      {% if not 'submission' in current %}
      <a href="/design-sprint-34/wide-nav/have-say">Have your say</a>
      {% else %} Have your say {% endif %}
    </li>
    <li class="govuk-body-s {% if 'getupdates' in current %} active {% endif %}">
      {% if not 'getupdates' in current %}
      <a href="/design-sprint-34/wide-nav/get-updates">Get email updates</a>
      {% else %} Get updates {% endif %}
    </li>

  <!--  <li class="govuk-body-s {% if 'timetable' in current %} active {% endif %}">
      {% if not 'timetable' in current %}
      <a href="./timetable">Examination timetable</a>
      {% else %} Examination timetable {% endif %}
    </li>-->
  <!--  <li
      class="govuk-body-s {% if 'all-examination-documents' in current %} active {% endif %}"
    >
      {% if not 'all-examination-documents' in current %}
      <a href="./all-examination-documents">All Examination documents</a>
      {% else %} All Examination documents {% endif %}
    </li>-->

  <!--  <li class="govuk-body-s {% if 'recommendation' in current %} active {% endif %}">
      {% if not 'recommendation' in current %}
      <a href="./recommendation">Recommendation and decision</a>
      {% else %} Recommendation and decision {% endif %}
    </li>-->
  </ul>

</nav>
