
</div>
<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

                <ul class="moj-primary-navigation__list">

        <li class="moj-primary-navigation__item">
          <a class="moj-primary-navigation__link" {% if 'home' in primarynav %} aria-current="page"{% endif %}href="/design-sprint-35/home/index-new-v3-no-wales">Home</a>
        </li>

        <!-- <li class="moj-primary-navigation__item">
          <a class="moj-primary-navigation__link" {% if 'processguide' in primarynav %} aria-current="page"{% endif %}href="/design-sprint-35/dco-process-guide/index">The planning process</a>
        </li> -->



        <li class="moj-primary-navigation__item">
          <a class="moj-primary-navigation__link"{% if 'projects' in primarynav %} aria-current="page"{% endif %} href="/design-sprint-35/projects/index-no-wales">All projects</a>
        </li>


        <!-- <li class="moj-primary-navigation__item">
          <a class="moj-primary-navigation__link"{% if 'guidance' in primarynav %} aria-current="page"{% endif %} href="#4">Services</a>
        </li> -->

        <li class="moj-primary-navigation__item">
          <a class="moj-primary-navigation__link"{% if 'advicenotes' in primarynav %} aria-current="page"{% endif %} href="/design-sprint-35/information/index">Detailed information</a>
        </li>

      <!--  <li class="moj-primary-navigation__item">
          <a class="moj-primary-navigation__link"{% if 'legislation' in primarynav %} aria-current="page"{% endif %} href="#">Legislation</a>
        </li>-->

        </ul>

      </nav>

    </div>
    <div class="moj-primary-navigation__search">
      <nav class="dwp-language-toggle" aria-label="Language toggle">
<ul class="dwp-language-toggle__list">
<li class="dwp-language-toggle__list-item">
    English
</li>
<li lang="cy" class="dwp-language-toggle__list-item">
    <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
    <a href="?lang=cy" class="govuk-link">Cymraeg</a>
</li>
</ul>
</nav>
      <!-- <div class="moj-search-toggle" data-module="moj-search-toggle" data-moj-search-toggle-text="Find project">
        <div class="moj-search-toggle__toggle"></div>
        <div class="moj-search-toggle__search">

          <div class="moj-search moj-search--ondark moj-search--toggle moj-js-hidden">

            <form action="" method="get">

              <div class="govuk-form-group">
                <label class="govuk-label moj-search__label govuk-visually-hidden" for="search2">
                  Search
                </label>

                <div id="search2-hint" class="govuk-hint moj-search__hint ">
                  Search by project name or applicant
                </div>

                <input class="govuk-input moj-search__input " id="search2" name="search2" type="search" aria-describedby="search2-hint">

              </div>

              <button class="govuk-button moj-search__button " data-module="govuk-button">
                Search
              </button>

            </form>
          </div>

        </div>
      </div> -->
    </div>
  </div>

</div>
<div class="govuk-width-container">
