<nav>
  <ul class="govuk-list sidenav">

    <li class="govuk-body-s active">

      Process guide
    </li>


    <li class="govuk-body-s">

      <a href="#">Planning inspectorate roles/a>

    </li>

    <li class="govuk-body-s">

      <a href="#">Participating in the process</a>

    </li>
    <li class="govuk-body-s">

      <a href="#">Submitting an application for development consent</a>

    </li>
    <li class="govuk-body-s">

      <a href="#">Application fees</a>

    </li>

    <li class="govuk-body-s">

      <a href="#">Pre-application service for applicants</a>

    </li>






  </ul>

</nav>
