<div class="govuk-footer pins-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
      <ul class="pins-footer-links govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item"><a href="" class="govuk-footer__link">Contact</a></li>
      <li class="govuk-footer__inline-list-item"><a href="/sprint-5/footerlinks/sitemap" class="govuk-footer__link">Sitemap</a></li>
      <li class="govuk-footer__inline-list-item"><a href="/mvp/cookies" class="govuk-footer__link">Cookies</a></li>
      <li class="govuk-footer__inline-list-item"><a href="" class="govuk-footer__link">English</a></li>
      <li class="govuk-footer__inline-list-item"><a href="" class="govuk-footer__link">Cymraeg</a></li>
      <li class="govuk-footer__inline-list-item"><a href="https://www.gov.uk/government/publications/planning-inspectorate-privacy-notices/customer-privacy-notice" class="govuk-footer__link">Privacy</a></li>

      <li class="govuk-footer__inline-list-item"><a href="/sprint-5/footerlinks/accessibility" class="govuk-footer__link">Accessibility statement</a></li>
      <li class="govuk-footer__inline-list-item"><a href="/sprint-5/footerlinks/terms-and-conditions" class="govuk-footer__link">Terms and conditions</a></li>

    </ul>

      <span class="govuk-footer__licence-description">
        Site content: Copyright 2021 <a href="/index">the planning inspectorate</a>
      </span>
      <p class="govuk-body-s govuk-!-margin-top-3">
          <a href="/reset" class="govuk-link">Reset the data in the prototype</button>
      </p>
      </div>
    <!--  <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
      </div>-->
    </div>
  </div>
</div>
