{% extends "layout.html" %}

{% block pageTitle %}
  Get updates
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <nav>
      {% set current = 'getupdates' %}
      <nav>
        <ul class="govuk-list sidenav">

          <li class="govuk-body-s {% if 'project-information' in current %} active {% endif %}">
            {% if not 'project-information' in current %}
            <a href="/design-sprint-35/project-overview/index-dynamic">Project information</a>
            {% else %} Project information {% endif %}
          </li>


          <li class="govuk-body-s {% if 'about-the-application' in current %} active {% endif %}">
            {% if not 'about-the-application' in current %}
            <a href="/design-sprint-35/wide-nav/doc-library">Documents</a>
            {% else %} Documents{% endif %}
          </li>
          <li class="govuk-body-s {% if 'comments' in current %} active {% endif %}">
            {% if not 'comments' in current %}
            <a href="/design-sprint-35/wide-nav/relevant-reps">Relevant representations (registration comments)</a>
            {% else %} Relevant representations (registration comments) {% endif %}
          </li>
          <li class="govuk-body-s {% if 'timetable' in current %} active {% endif %}">
            {% if not 'timetable' in current %}
            <a href="/design-sprint-35/timetable/timetable-upcoming-first-accordion">Examination timetable</a>
            {% else %} Examination timetable {% endif %}
          </li>
          <li class="govuk-body-s {% if 'getupdates' in current %} active {% endif %}">
            {% if not 'getupdates' in current %}
            <a href="/design-sprint-35/get-updates/index">Get updates</a>
            {% else %} Get updates {% endif %}
          </li>
          <li class="govuk-body-s {% if 'section51' in current %} active {% endif %}">
            {% if not 'section51' in current %}
            <a href="/design-sprint-35/s51/index">Section 51 advice</a>
            {% else %} Section 51 advice {% endif %}
          </li>

      
        </ul>
        <hr
          class="
            govuk-section-break govuk-section-break--l govuk-section-break--visible
          "
        />
        <p class="govuk-heading-s">Related guides</p>
        <ul class="govuk-list sidenav">
        <li class="govuk-body-s">
            <a href="../dco-process-guide/">
            The process for Nationally Significant Infrastructure Projects (NSIPs)
            </a
            >
          </li>
          <li class="govuk-body-s">
            <a href="../interested-party-guide/"
              >Having your say about a national infrastructure project</a
            >
          </li>
        </ul>
      </nav>
<!--<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>
--></nav>
</div>

        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Drax Bioenergy with Carbon Capture and Storage</span>
          <h1 class="govuk-heading-xl">      Get updates about this project</h1>
            <!--<h1 class="govuk-heading-l">
                Get updates about this project
            </h1>-->

            <p class="govuk-body-l">
              You can no longer get email updates about <strong>Drax Bioenergy with Carbon Capture and Storage</strong></p>

  <p class="govuk-body">The decision on this project has been made. </p>

<p class="govuk-body"><a href="decision letter" class="govuk-link">You can view the decision here</a></p>

            <!-- <p>We will send email updates when information about the proposed development is added to the website.</p> -->
          <!--  <p>You can <a href="https://www.gov.uk/government/publications/planning-inspectorate-privacy-notices/customer-privacy-notice" target="_blank">view the privacy notice</a> for more information about how we use your personal information.</p>-->

            <!-- <a href="/design-sprint-35/get-updates/email" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                </svg>
            </a> -->

        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ pinsFooter() }}
{% endblock %}
