{% extends "layout.html" %} {% block pageTitle %} Example email {% endblock %}
{% block header %}
<!-- Blank header with no service name for the start page -->
{{ pinsHeader() }} {% endblock %} {% block beforeContent %} {{
govukPhaseBanner({ tag: { text: "beta" }, html: 'This is a new service – your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Your email inbox</h3>
  </div>
  <!-- list of emails -->
  <!-- email content starts here -->
  <div class="govuk-grid-column-three-quarters">
    <ul class="govuk-list">
      <li>From: &lt;support@planninginspectorate.gov.uk&gt;</li>
      <li>To: &lt;example@email.com&gt;</li>
      <li>
        Subject:
        <strong
          >Confirm that you want to get emails from The Planning Inspectorate</strong
        >
      </li>
    </ul>
    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />
    <p class="govuk-body">Dear John Doe,</p>

    <h2 class="govuk-heading-m">
      Click the link to confirm that you want to get emails from The Planning Inspectorate
    </h2>
    <p>
      Verify your email address to get updates about the A404 Dewsbury project:
    </p>
    <p>
      <a class="govuk-link" href="./subscribed">Verify email address</a>
    </p>
    <p>
      Or copy and paste this link into your browser: <br/>

     <a class="govuk-link" href="./subscribed"
        >https://applications-prototype.herokuapp.com/sprint-6//get-updates/subscribed</a
      >
    </p>
    <p>
      This link will stop working after 48 hours.
    </p>
    <h2 class="govuk-heading-m">Unsubscribe</h2>
    <p>
      You can <a href="#">unsubscribe</a> from these updates anytime by clicking
      unsubscribe.
    </p>
    <p>
      Or copy and paste this link into your browser: <br/>
    <p>
    <a class="govuk-link" href="./subscribed"
       >https://applications-prototype.herokuapp.com/sprint-6/get-updates/unsubscribe</a
     ></p>
    <p>
      You’ll get an email whenever information about the proposed development is published to the website. You can change this at any time.
    </p>
    <p>
      If you did not request this email, you can ignore it.
    </p>
    
    <p class="govuk-body">The Planning Inspectorate</p>
  </div>
</div>
{% endblock %}
