{% extends "layout.html" %}

{% block pageTitle %}
  Declaration - Register to have your say
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Declaration</h1>
      <p class="govuk-body">
        By submitting this form, you are registering to have your say and telling us your initial registration comments. You will be given an Interested Party reference number.
      </p>
      <p class="govuk-body">This means you can take part in the Examination of the application and submit Examination comments about any of the application information. The Examining Authority must consider your views when they recommend if the project should go ahead.</p>
      <p class="govuk-body">By registering to have your say, you are agreeing that we will use your details to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>contact you about the project or if we need more information</li>
        <li>let you know when you can submit Examination comments</li>
      </ul>
      <p class="govuk-body">You are also agreeing that all comments you submit, along with your name, will be published on this website. No contact details will be made public.</p>

      <form autocomplete="off" action="confirmation" method="post" novalidate>

        <input type="hidden" name="declaration-confirmed" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and register
        </button>

      </form>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
