{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
    {{ pinsHeader({
    serviceName: "Register to have your say about a national infrastructure project", 
    serviceUrl: "/sprint-5/register/start"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Register to have your say about a national infrastructure project
      </h1>
      <p>Use this service to have your say about a national infrastructure project. We need your personal details and your comments about the project.</p>
      <h2 class="govuk-heading-m">Writing your comments</h2>
    <p>You must include comments with your registration. These will be used by the inspector or panel of inspectors,
      known as the Examining Authority, to decide what to focus on during the Examination of the application.</p>
      <p>  Your registration comments (also known as a relevant representation) should relate to the application.
      You must include a summary of points which you agree and/or disagree with about the application, highlighting what you consider to be the main issues and impacts. </p>

      <p>  Information about how you think a project may affect your day-to-day life may also be of
        interest to the Examining Authority.</p>

      <p>We need to know anything you think is important to tell us about the proposed project, in as much detail as possible</p>
      <p>This information will be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>used by the Examining Authority to decide if they recommend the project goes ahead</li>
        <li>published on our website</li>
      </ul>
      <p> You will be able to submit further comments during the Examination of the application once you have registered.</p>
      <a href="type-of-party" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <!-- <p>We need to know anything you think is important to tell us about the proposed project, in as much detail as possible</p> -->
<h3 class="govuk-heading-s">If you are registering yourself as an individual</h3>
          <p>You will need your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>full name</li>
        <li>address</li>
        <li>email address and telephone number</li>
        <li>comments about the project</li>
      </ul>
      <h3 class="govuk-heading-s">If you are registering on behalf of an organisation or charity you work or volunteer for</h3>
                <p>You will need your:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>full name</li>
              <li>the name of the organisation or charity you work for</li>
              <li>your work address</li>
              <li>your work email address and telephone number</li>
              <li>comments about the project</li>
            </ul>
      <h3 class="govuk-heading-s">If you are registering on behalf of another person or organisation</h3>
                <p>You will need your:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>full name</li>
              <li>address</li>
              <li>email address and telephone number</li>
              <li>the details of the person or organisation you are representing</li>
              <li>their comments about the project</li>
            </ul>


      <!-- <p>You can also <a href="#">register by post</a>.</p> -->

      <!--<p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>-->

      <!-- <p>You can’t register for this service if you’re in the UK illegally.</p> -->

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
