{% extends "layout.html" %}

{% block pageTitle %}
  Have your say during the Examination of the application
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{% endblock %}

{% block content %}
<style type="text/css">
  .gem-c-related-navigation {
    color: #0b0c0c;
    border-top: 2px solid #1d70b8;
    margin-bottom: 60px;
}

.gem-c-layout-for-public {
    font-family: "GDS Transport",arial,sans-serif;
}
.gem-c-related-navigation__main-heading {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 15px;
    margin-bottom: 10px;
}

.gem-c-related-navigation__nav-section {
    margin-bottom: 30px;
}

.gem-c-related-navigation__link-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 1.25em;
}

.gem-c-related-navigation__link {
    list-style-type: none;
    margin-top: 15px;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18=4px;
    line-height: 1.45;
}
</style>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <nav>
          {% set current = 'submission' %}
          {% include "design-sprint-7/includes/vertical_tabs.html" %}
    <!--<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>
    --></nav>
    </div>

    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-l">Drax Bioenergy with Carbon Capture and Storage Project</span>
      <h1 class="govuk-heading-xl">Have your say during the examination of the application</h1>
      <!--<h1 class="govuk-heading-l">
    Have your say during the Examination of the application
      </h1>-->
      <p class="govuk-body">You cannot submit an item because there are no deadlines open yet.</p>


</div>
  </div>
</div>
{% endblock %}


{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
