{% set keywordFilter %}
    <small id="search-hint" class="govuk-hint" style="font-size: 1em !important;">
        Filter by document name, who submitted or reference number
    </small>
    <div class="govuk-!-margin-top-3">
        <input class="govuk-input" id="search" name="search" type="text" />
    </div>

{% endset %}

{% set projectStageFilter %}
    {{ govukCheckboxes({ classes: "govuk-checkboxes--small", idPrefix: "stage",
    name: "stage", items: [
    {
    text: "Pre-application",
    value: "Pre-application"
    },
    {
    text: "Review of the application",
    value: "Review of the application"
    },
    {
    text: "Pre-Examination",
    value: "Pre-Examination"
    }

    ] }) }}
{% endset %}

{% set documentTypeFilter %}
    {{ govukCheckboxes({ classes: "govuk-checkboxes--small", idPrefix: "type",
    name: "type", items: [
    {
    value: "Additional submissions",
    text: "Additional submissions"
    },
    {
    value: "Acceptance letter",
    text: "Acceptance letter"
    },
    {
    value: "Application form",
    text: "Application form"
    },
    {
    value: "Examination Library",
    text: "Examination Library"
    },
    {
    value: "Environmental statement",
    text: "Environmental statement"
    },
    {
    value: "Plans",
    text: "Plans",
    checked: true
    },
    {
    value: "Adequacy of consultation report",
    text: "Adequacy of consultation report"
    },
    {
    value: "Procedural decisions",
    text: "Procedural decisions"
    },
    {
    value: "Consultation reports",
    text: "Consultation reports"
    },
    {
    value: "Site inspections",
    text: "Site inspections"
    }

    ]
    }) }}
{% endset %}

<div style="background-color: #f3f2f1; padding: 10px;">
    <h2 class="govuk-heading-m">Filter by</h2>

    {{ govukAccordion({
        id: "accordion-default",
        classes: "filter-accordion",
        headingLevel: 3,
        items: [
            {
                heading: {
                    html: '<span class="filter-heading">Project stage</span>'
                },
                content: {
                    html: projectStageFilter
                }
            },
            {
                heading: {
                    html: '<span class="filter-heading">Document type</span>'
                },
                content: {
                    html: documentTypeFilter
                }
            }
        ]
        })
    }}

    <button class="govuk-button">Apply filters</button>
</div>
