
<h2 class="govuk-heading-m">Filter by</h2>

<h3 class="govuk-label-wrapper">
  <label
    class="govuk-label govuk-label--s govuk-!-margin-bottom-0"
    for="search"
  >
    Keyword
  </label>
</h3>
<small id="search-hint" class="govuk-hint" style="font-size: 1em !important;"
>
  Filter by document name, who submitted or reference number
</small>
<div class="govuk-!-margin-top-3">
  <input class="govuk-input" id="search" name="search" type="text" />
</div>

<h3 class="govuk-heading-s govuk-!-margin-top-6">Type of document</h3>

      {{ govukCheckboxes({ classes: "govuk-checkboxes--small", idPrefix: "type",
      name: "type", items: [ 
            {
                value: "Environmental statement",
                text: "Environmental statement"
            },
            {
                value: "Adequacy of consultation report",
                text: "Adequacy of consultation report"
            },
            {
                value: "Procedural decisions",
                text: "Procedural decisions"
            },
            {
                value: "Consultation reports",
                text: "Consultation reports"
            },
            {
                value: "Application documents",
                text: "Application documents"
            },
            {
                value: "Site inspections",
                text: "Site inspections"
            }

]
      }) }}
   <h3 class="govuk-heading-s govuk-!-margin-top-6">Stage of the project</h3>

      {{ govukCheckboxes({ classes: "govuk-checkboxes--small", idPrefix: "stage",
      name: "stage", items: [ 
{
    text: "Pre-application",
    value: "Pre-application"
},
{
    text: "Review of the application",
    value: "Review of the application"
},
{
    text: "Pre-Examination",
    value: "Pre-Examination"
}

] }) }}
   <h3 class="govuk-heading-s govuk-!-margin-top-6">Application documents</h3>

      {{ govukCheckboxes({ classes: "govuk-checkboxes--small", idPrefix: "application-documents",
      name: "application-documents", items: [ 
        {
            value:"All application documents",
            text:"All application documents"
        },
        {
            value:"Application form",
            text:"Application form"
        },
        {
            value: "Plans and drawings",
            text: "Plans and drawings"
        },
        {
            value:"Consultation reports",
            text:"Consultation reports"
        },
        {
            value: "Environmental Statement",
            text: "Environmental Statement"
        },
        {
            value:"Compulsory purchase",
            text:"Compulsory purchase"
        },
        {
            value: "Draft Development",
            text: "Draft Development"
        },
        {
            value:"Consent Order",
            text:"Consent Order"
        },
        {
            value: "Other documents",
            text: "Other documents"
        }
 ] }) }}
<button class="govuk-button">Apply filters</button>
