{% extends "layout.html" %}

{% block pageTitle %}
Are you sure you want to delete data for this item?  {% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader({
  serviceName: "Have your say on an application"   ,
  serviceUrl: "/design-sprint-26/start/"

}) }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back();"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/design-sprint-26/delete-item-answer" method="post" novalidate>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
      Are you sure you want to delete data for this item?
      </h1>
    </legend>

    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="delete-item-yes" name="confirm-remove" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="delete-item-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="delete-item-no" name="confirm-remove" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="delete-item-no">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

  </div>
</div>
{% endblock %}


{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
