{% extends "layout.html" %}

{% block pageTitle %}
  Your telephone number - Register to have your say
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}


{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="email">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form autocomplete="off" class="form" action="full-name" method="post">
        {{ govukInput({
          label: {
            text: "What is their telephone number?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "We will use your phone number to get in touch with you about the project if we cannot reach you by email."
          },
          id: "representee-telephone-number",
          name: "representee-telephone-number",
          type: "tel",
          classes: "govuk-input--width-20"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
