<nav>
  <ul class="govuk-list sidenav">
  <!--  <li class="govuk-body-s {% if 'index' in current %} active {% endif %}">
      {% if not 'index' in current %}
      <a href="./">A404 Dewsbury project information</a>
      {% else %} A404 Dewsbury project information {% endif %}
    </li>-->
  <!--  <li class="govuk-body-s {% if 'project-timeline' in current %} active {% endif %}">
      {% if not 'project-timeline' in current %}
      <a href="./project-timeline">Project timeline</a>
      {% else %} Project timeline {% endif %}
    </li>-->
    <li class="govuk-body-s {% if 'project-information' in current %} active {% endif %}">
      {% if not 'project-information' in current %}
      <a href="/design-sprint-6/project-overview/index">Project information</a>
      {% else %} Project information {% endif %}
    </li>
    <!--<li class="govuk-body-s {% if 'timeline' in current %} active {% endif %}">
      {% if not 'timeline' in current %}
      <a href="/design-sprint-6/timeline/index">Timeline</a>
      {% else %} Timeline {% endif %}
    </li>-->
    <li class="govuk-body-s {% if 'section51' in current %} active {% endif %}">
      {% if not 'section51' in current %}
      <a href="/design-sprint-6/s51/index">Section 51 advice</a>
      {% else %} Section 51 advice {% endif %}
    </li>
    <li class="govuk-body-s {% if 'about-the-application' in current %} active {% endif %}">
      {% if not 'about-the-application' in current %}
      <a href="/design-sprint-6/wide-nav/doc-library">Document library</a>
      {% else %} Document library {% endif %}
    </li>
    <li class="govuk-body-s {% if 'comments' in current %} active {% endif %}">
      {% if not 'comments' in current %}
      <a href="/design-sprint-6/relevant-representations/index">Relevant representations (registration comments)</a>
      {% else %} Relevant representations (registration comments) {% endif %}
    </li>
    <li class="govuk-body-s {% if 'timetable' in current %} active {% endif %}">
      {% if not 'timetable' in current %}
      <a href="/design-sprint-6/timetable/timetable-upcoming-first-accordion">Examination timetable</a>
      {% else %} Examination timetable {% endif %}
    </li>
    <li class="govuk-body-s {% if 'submission' in current %} active {% endif %}">
      {% if not 'submission' in current %}
      <a href="/design-sprint-6/start">Have your say</a>
      {% else %} Have your say {% endif %}
    </li>
    <li class="govuk-body-s {% if 'getupdates' in current %} active {% endif %}">
      {% if not 'getupdates' in current %}
      <a href="/design-sprint-6/get-updates/index">Get email updates</a>
      {% else %} Get updates {% endif %}
    </li>

  <!--  <li class="govuk-body-s {% if 'timetable' in current %} active {% endif %}">
      {% if not 'timetable' in current %}
      <a href="./timetable">Examination timetable</a>
      {% else %} Examination timetable {% endif %}
    </li>-->
  <!--  <li
      class="govuk-body-s {% if 'all-examination-documents' in current %} active {% endif %}"
    >
      {% if not 'all-examination-documents' in current %}
      <a href="./all-examination-documents">All Examination documents</a>
      {% else %} All Examination documents {% endif %}
    </li>-->

  <!--  <li class="govuk-body-s {% if 'recommendation' in current %} active {% endif %}">
      {% if not 'recommendation' in current %}
      <a href="./recommendation">Recommendation and decision</a>
      {% else %} Recommendation and decision {% endif %}
    </li>-->
  </ul>
  <hr
    class="
      govuk-section-break govuk-section-break--l govuk-section-break--visible
    "
  />
  <p class="govuk-heading-s">Related guides</p>
  <ul class="govuk-list sidenav">
  <li class="govuk-body-s">
      <a href="../dco-process-guide/">
      Find out more about the decision making process for national infrastructure projects
      </a
      >
    </li>
    <li class="govuk-body-s">
      <a href="../interested-party-guide/"
        >Having your say about a national infrastructure project</a
      >
    </li>
  </ul>
</nav>
