{% extends "layout.html" %}

{% block pageTitle %}
  Email address
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
    {{ pinsHeader({
    serviceName: "Register to have your say about a national infrastructure project", 
    serviceUrl: "/sprint-6/pre-examination/register/start",
saveAndExit: true
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form autocomplete="off" class="form" action="postcode" method="post">
        {{ govukInput({
          label: {
            text: "What is your email address?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "We will use your email address to send you information about this project. We will not publish your email address."
          },
          id: "email",
          name: "email"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
