<style type="text/css">
  .moj-sub-navigation {
    margin-bottom: 0px;
    margin-top: 10px;
  }
  </style>

<nav class="moj-sub-navigation" aria-label="Sub navigation">

  <ul class="moj-sub-navigation__list">



   <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" {% if 'Applicant guide' in secondarynavprojects %} aria-current="page"{% endif %}href="applicant-guide-1">Applicant guide</a>
   </li>
<li class="moj-sub-navigation__item">
       <a class="moj-sub-navigation__link" {% if 'Advice' in secondarynavprojects %} aria-current="page"{% endif %}href="index">Advice notes</a>
   </li>



 </ul>

</nav>
