{% extends "layout.html" %}

{% block pageTitle %}
  Type of interested party - Register to have your say
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
    {{ pinsHeader({
    serviceName: "Have your say during the Examination of the application",
    serviceUrl: "/sprint-6/examination/submission/start",
    saveAndExit: false
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form autocomplete="off" class="form" action="submission-type" method="post">
        {% call govukFieldset({
          legend: {
            text: "Which deadline do you want to comment about?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        {% endcall %}
<br>


        {{ govukRadios({
            id: "submission-deadline",
            name: "submission-deadline",
            label: {
              text: "Select a deadline",
              classes: "govuk-label--s"
            },
            items: [
              {
                value: "Deadline 1 (D1)",
                text: "Deadline 1 (D1)"
              },
              {
                value: "Deadline 2 (D2)",
                text: "Deadline 2 (D2)"
              },
              {
                value: "Deadline 3 (D3)",
                text: "Deadline 3 (D3)"
              },
              {
                value: "Deadline 4 (D4)",
                text: "Deadline 4 (D4)"
              },
              {
                value: "Deadline 5 (D5)",
                text: "Deadline 5 (D5)"
              },
              {
                value: "Deadline 6 (D6)",
                text: "Deadline 6 (D6)"
              },
              {
                value: "Deadline 7 (D7)",
                text: "Deadline 7 (D7)"
              },
              {
                value: "Deadline 8 (D8)",
                text: "Deadline 8 (D8)"
              },
              {
                value: "Deadline 9 (D9)",
                text: "Deadline 9 (D9)"
              }
            ]
          }) }}
<button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>

</form>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
