{% extends "layout.html" %}

{% block pageTitle %}
Type of interested party - Register to have your say
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form autocomplete="off" class="form" action="file-submission-item" method="post">



      {{ govukRadios({
            idPrefix: "submission-type",
            name: "submission-type",
            fieldset: {
              legend: {
                text: "How would you like to make your submission?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "upload",
                text: "Upload files"
              },
              {
                value: "text",
                text: "Make a text representation"
              },
              {
                value: "both",
                text: "Both"
              }
              ]
          }) }}

          <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

  </div>
</div>

{% endblock %}

{% block footer %}
{{ pinsFooter() }}
{% endblock %}
