{% extends "layout.html" %}

{% block pageTitle %}
  Type of interested party - Register to have your say
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
    {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="check-your-files" method="post">

        <span class="govuk-caption-l">

        </span>
        <h1 class="govuk-heading-l">
          Upload your documents for A404 Dewsbury
        </h1>
  


        {{ govukFileUpload({
          id: "appealsub-"+version+"-aboutapplication-applicationform",
          name: "appealsub-"+version+"-aboutapplication-applicationform",
          label: {
            classes: "govuk-label--m",
            text: "Upload a file"
          },
          hint: {
            text: "Please note you can add more than one document."
          }
        }) }}

        {{ govukDetails({
          summaryText: "File requirements",
          html: '
            <p class="govuk-body">
              Your file must be in one of the following formats:
            <p>
            <ul class="govuk-list govuk-list--bullet">
              <li>pdf</li>
              <li>doc</li>
              <li>docx</li>
              <li>tif</li>
              <li>tiff</li>
              <li>jpg</li>
              <li>jpeg</li>
              <li>png</li>
            </ul>
            <p>All files must be: </p>
            <ul>
              <li>a single document, appendix or image</li>
              <li>smaller than 50mb</li>
            </ul>
          '
        }) }}

 

          {{ govukRadios({
            idPrefix: "file-pii",
            name: "file-pii",
            fieldset: {
              legend: {
                text: "Does the file contain sensitive information?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

       {{ govukDetails({
          summaryText: "Sensitive information definition",
          html: '
            <ul class="govuk-list govuk-list--bullet">          
              <li>Representations from children;</li>
              <li>Information relating to children;</li>
              <li>Information relating to health;</li>
              <li>Information relating to crime</li>
            </ul>
                 <p>Any information relating to an individual’s:</p>
            <ol class="govuk-list govuk-list--number">          
              <li>Race</li>
              <li>Ethnic origin</li>
              <li>Politics</li>
              <li>Religion</li>
              <li>Trade union membership</li>
              <li>Genetics</li>
              <li>Biometrics</li>
              <li>Sex life</li>
              <li>Sexual orientation</li>
            </ol>
         '
        }) }}

        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
