{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation - Comments
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
    {{ pinsHeader({
    serviceName: "Commenting on a national infrastructure project",
    serviceUrl: "/sprint-4/start",
    saveAndExit: false
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your email</h1>
      <p>
        We have sent a confirmation email to <strong>{% if not data['email']%}joe.bloggs@email.com{% endif %}{{ data['email'] }}</strong>
      </p>
      <p>
        Click the link in the email to return to:
      </p>
      <ul class="govuk-list">
        <li>Drax Bioenergy with Carbon Capture and Storage Project</li>
      </ul>
      <p>
        The link will stop working after 48 hours.
      </p>

      <a href="./verification-email" class="govuk-button govuk-button--secondary">View email</a>


    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
