{% extends "layout.html" %} {% block pageTitle %} A404 Dewsbury project overview
{% endblock %} {% block headIcons %}
<link
  rel="shortcut icon"
  href="{{ asset_path }}images/unbranded.ico?0.18.3"
  type="image/x-icon"
/>
{% endblock %} {% block head %}
<!--[if lte IE 8
  ]><link
    href="/public/stylesheets/unbranded-ie8.css"
    rel="stylesheet"
    type="text/css"
/><![endif]-->
<!--[if gt IE 8]><!-->
<link
  href="/public/stylesheets/unbranded.css"
  media="all"
  rel="stylesheet"
  type="text/css"
/>
<!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

<!-- Mapbox resources -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
  rel="stylesheet"
/>
<!-- end Mapbox -->
{% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ pinsHeader() }} {% endblock %} {% block beforeContent %} {{
govukPhaseBanner({ tag: { text: "beta" }, html: 'This is a new service – your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
        <h1 class="govuk-heading-xl">A404 Dewsbury</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">

        <nav>
   <ul class="govuk-list sidenav">
     <li class="govuk-body-s ">

       <a href="/sprint-6/examination/index">A404 Dewsbury project information</a>

     </li>
     <li class="govuk-body-s ">

       <a href="/sprint-6/examination/project-timeline">Project timeline</a>

     </li>
     <li class="govuk-body-s  active ">
        Project application documents
     </li>
     <li class="govuk-body-s ">

       <a href="/sprint-6/examination/representations">Registration comments</a>

     </li>
     <li class="govuk-body-s ">

       <a href="/sprint-6/examination/timetable">Examination timetable</a>

     </li>
     <li
       class="govuk-body-s "
     >

       <a href="/sprint-6/examination/all-examination-documents">All Examination documents</a>

     </li>
     <li class="govuk-body-s ">

       <a href="/wrong-turn">Recommendation and decision</a>

     </li>
   </ul>
   <hr
     class="
       govuk-section-break govuk-section-break--l govuk-section-break--visible
     "
   />
   <h3 class="govuk-heading-s">Related guides</h3>
   <ul class="govuk-list sidenav">
     <li class="govuk-body-s">
       <a href="../dco-process-guide/"
         >      Find out more about the decision making process for national infrastructure projects
 </a
       >
     </li>
     <li class="govuk-body-s">
       <a href="../interested-party-guide/"
         >Having your say about a national infrastructure project</a
       >
     </li>
   </ul>
 </nav>
      </div>


      <div class="govuk-grid-column-three-quarters">
      <button id="toggleFilters" class="govuk-button govuk-button">Show search and filters</button>
        <div id="expandingFilterSection" class="expandingFilterSection hidden govuk-!-margin-bottom-6">

        <div class="govuk-form-group">
          <h3 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="event-name">
              Keywords
            </label>
          </h3>
          <input
            class="govuk-input"
            id="event-name"
            name="event-name"
            type="text"
          />
        </div>

        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
              Filter by theme
            </h2>
          </legend>
          <fieldset class="govuk-fieldset" aria-labelledby="who-submitted">
            <div class="govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="theme-noise-traffic-air"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="theme-noise-traffic-air"
                  >Noise, traffic and air quality</label
                >
              </div>

              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="theme-landscape-visual"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="theme-landscape-visual"
                  >Landscape and visual</label
                >
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="heritage"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="heritage"
                  >Heritage</label
                >
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="theme-wildlife-habitats"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="theme-wildlife-habitats"
                  >Local wildlife and habitats</label
                >
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
              Who submitted
            </h2>
          </legend>

          <fieldset class="govuk-fieldset" aria-labelledby="who-submitted">
            <div class="govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="who-submitted-examining-panel"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="who-submitted-examining-panel"
                  >Examining authority</label
                >
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="who-submitted-developer"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="who-submitted-developer"
                  >Developer</label
                >
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="who-submitted-individual-interested-party"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="who-submitted-individual-interested-party"
                  >Individual interested party</label
                >
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="who-submitted-organisation-interested-party"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="who-submitted-organisation-interested-party"
                  >Organisation interested party</label
                >
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="who-submitted-official-body-and-local-authority"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="who-submitted-official-body-and-local-authority"
                  >Official bodies and local authorities</label
                >
              </div>
            </div>
          </fieldset>
        </div>

        <a href="#" class="govuk-button govuk-!-margin-top-6">Apply</a>
      </div>
      {# end of filters #}
                 <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <p class="results"><strong><span id="results-number"></span> <strong></p>
          </div>

          <div style="display:flex; flex-direction: row;" class="govuk-grid-column-one-half">
            <label class="govuk-label govuk-!-margin-right-2" for="document-results-sort">Sort by: </label>
            <select id="document-results-sort" class="govuk-select">
              <option selected>Recently updated</option>
            </select>
          </div>
        </div>

        <hr
          class="
            govuk-section-break govuk-!-margin-bottom-6
            govuk-section-break--visible
            "
         />

         <!-- loop across the representations in data/representations -->

         <span class="govuk-caption-m">Enquiry by</span>

         <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
           <a href="./enquiry1">John and Sarah Smith </a>
         </h3>
         <p>
           <!-- show the comment -->
           <strong>Query about the proposed development</strong> <br><br>
           Thank you for your email in relation to the A404 Dewsbury project (EN010093). Please accept
           <!-- show read more link if the content has been truncated -->

          <a href="./enquiry1">
             read more
           </a>

          </p>
         <p class="govuk-body-s">Submitted on 28 May 2021</p>

         <hr
           class="
             govuk-section-break
             govuk-section-break--l
             govuk-section-break--visible
           "
         />

         <form
           id="representationsForm0"
           method="post"
           action="representation"
         >

           <label class="hidden" for="representation"> I have a bike</label>

           <input
             class="hidden"
             value="0"
             type="number"
             name="representation"
             id="representation"
           />
         </form>

         <span class="govuk-caption-m">Enquiry by</span>

         <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
        <a href="./enquiry2">
             Daine Ham
           </a>
         </h3>
         <p>
           <!-- show the comment -->

           <strong> Mock up land plans</strong> <br> <br>

           Please see attached
           <!-- show read more link if the content has been truncated -->



         </p>

         <p class="govuk-body-s">Submitted on 28 May 2021</p>

         <hr
           class="
             govuk-section-break
             govuk-section-break--l
             govuk-section-break--visible
           "
         />

         <form
           id="representationsForm1"
           method="post"
           action="representation"
         >

           <label class="hidden" for="representation"> I have a bike</label>

           <input
             class="hidden"
             value="1"
             type="number"
             name="representation"
             id="representation"
           />
         </form>

         <span class="govuk-caption-m">Enquiry by</span>

         <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
          <a href="./enquiry3">
             Robert Jackson
           </a>
         </h3>
         <p>
           <!-- show the comment -->

          <strong> Project meeting with Highways England </strong> <br><br>
            Please see attached
           <!-- show read more link if the content has been truncated -->


         </p>

         <p class="govuk-body-s">Submitted on 29 May 2021</p>

         <hr
           class="
             govuk-section-break
             govuk-section-break--l
             govuk-section-break--visible
           "
         />

         <form
           id="representationsForm2"
           method="post"
           action="representation"
         >

           <label class="hidden" for="representation"> I have a bike</label>

           <input
             class="hidden"
             value="2"
             type="number"
             name="representation"
             id="representation"
           />
         </form>

         <span class="govuk-caption-m">Enquiry by</span>

         <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
           <a href="./enquiry4">
             Jerry Springer
           </a>
         </h3>
         <p>
           <!-- show the comment -->
             <strong> Query about the proposed development </strong> <br><br>
Thank you for your email in relation to the A404 Dewsbury project (EN010093). Please accept
           <!-- show read more link if the content has been truncated -->
           <a href="./enquiry4">
              read more
            </a>
         </p>

         <p class="govuk-body-s">Submitted on 30 May 2021</p>

         <hr
           class="
             govuk-section-break
             govuk-section-break--l
             govuk-section-break--visible
           "
         />

         <form
           id="representationsForm3"
           method="post"
           action="representation"
         >

           <label class="hidden" for="representation"> I have a bike</label>

           <input
             class="hidden"
             value="3"
             type="number"
             name="representation"
             id="representation"
           />
         </form>

         <span class="govuk-caption-m">Enquiry by</span>

         <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
           <a href="./enquiry5">
             Rufus James
           </a>
         </h3>
         <p>
           <!-- show the comment -->
           <strong> Project update meeting</strong> <br><br>
           Thank you for your email in relation to the A404 Dewsbury project (EN010093). Please accept
           <!-- show read more link if the content has been truncated -->

          <a href="./enquiry5">
             read more
           </a>

         </p>

         <p class="govuk-body-s">Submitted on 30 May 2021</p>

         <hr

    </div>
  </main>
</div>

{% endblock %} {% block footer %} {{ pinsFooter() }} {% endblock %}
