{% extends "layout.html" %}
{% block pageTitle %} A404 Dewsbury project overview
{% endblock %}
{% block headIcons %}
  <link
  rel="shortcut icon"
  href="{{ asset_path }}images/unbranded.ico?0.18.3"
  type="image/x-icon"
/>
{% endblock %}
{% block head %}
  <!--[if lte IE 8
  ]><link
    href="/public/stylesheets/unbranded-ie8.css"
    rel="stylesheet"
    type="text/css"
/><![endif]-->
  <!--[if gt IE 8]><!-->
  <link
  href="/public/stylesheets/unbranded.css"
  media="all"
  rel="stylesheet"
  type="text/css"
/>
  <!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css"/>
  {% endfor %}

  <!-- Mapbox resources -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
  <link
  href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
  rel="stylesheet"
/>
  <!-- end Mapbox -->
{% endblock %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}
{% block beforeContent %}
  {{
govukPhaseBanner({ tag: { text: "beta" }, html: 'This is a new service – your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}
{% endblock %}
{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
          <h1 class="govuk-heading-xl">A404 Dewsbury</h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          {% set current = 'project-timeline' %}
          {% include "../includes/vertical_tabs.html" %}
        </div>
        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-m">Project timeline</h2>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-appellant">
                    Pre-application &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; <strong class="govuk-tag govuk-tag--blue"> IN PROGRESS</strong>
                  </span>
                </h2>
              </div>

              <div id="accordion-default-content-appellant" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-appellant">

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                    <div class="govuk-!-margin-top-0">

                      <p> This is where the developer must run a consultation with people and organisations. You can get involved at this stage by finding the developer's website </p>

                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>  October 2019 </strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li> 25 October 2019 - Application received by the planning inspectorate</li>

                          </ul>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>  November 2019</strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li>22 November 2019 - Decision on whether or not to accept the application for examination </li>
                          </ul>
                        </div>
                      </details>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-appellant">
                    Review of application &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; <strong class="govuk-tag govuk-tag--grey"> Not started</strong>
                  </span>
                </h2>
              </div>

              <div id="accordion-default-content-appellant" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-appellant">

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                    <div class="govuk-!-margin-top-0">

                      <p> This is called the Acceptance stage. This is when the developer sends us their application, including the consultation they have carried out. We have 28 days to make this decision. </p>

                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>   November 2019</strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li>22 November 2019 - The application has been accepted for examination  </li>
                            <li>
                              <p class="govuk-body"><strong><a href="#">Read the letter</a></strong></p>
                            </li>
                          </ul>
                        </div>
                      </details>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-appellant">
                    Pre-examination &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; <strong class="govuk-tag govuk-tag--grey">not started</strong>
                  </span>
                </h2>
              </div>

              <div id="accordion-default-content-appellant" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-appellant">

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                    <div class="govuk-!-margin-top-0">

                      <p> We identify an inspector or a panel of inspectors called the Examining Authority and make a plan for the Examination stage. Anyone who wants to have their say will be able to register at this stage. Registration is open for 30 days. </p>

                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>   November 2019</strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li> 29 November 2019 - Registration of interested parties begins </li>
                          </ul>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>   January 2020  </strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li> 03 January 2020 - An <a href="#"> Examining Authority has been appointed</a>. </li>
                            <br>
                            <li>  03 January 2020 - You can now <a href="#"> register to have your say about this project</a>. </li><br>
                            <p class="govuk-body"><strong><a href="#">Register online</a></strong></p>
                            <li>  If you wish to have your say on this project you must register for each application separately. If you are unable to complete a registration form online and would like to register your interest, please call the helpline on: 0303 444 5000 to request a paper form. For further advice please see <a href="#">  Advice Note 8.2: How to register to participate in an Examination.</a>
                             Please see our <a href="#"> Frequently Asked Questions for more information</a>.</li><br>

                            <li> 27 January 2020 - Registration of interested parties closes </li>
                          </ul>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>   February 2020 </strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li>20 February 2020 - Relevant representations published on the website </li>
                          </ul>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>   March 2020 </strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li>04 March 2020 - <a href="#"> Agendas for the March 2020 Hearings </a> have been published.</li>
                          </ul>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>   April 2020 </strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li> 06 April 2020 - <a href="#"> Responses to the Rule 6 and other Additional Submissions </a> have been published.</li>
                          </ul>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>   May 2020 </strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li> 21 May 2020 - The Examining Authority has issued a <a href="#">Procedural Decision </a> in respect of draft submissions and inviting representations on how hearings might be held: these representations should be provided as responses to the online questionnaire, by 5pm 11 June 2020.</li>
                            <br>
                            <li>
                              <p class="govuk-body"><strong><a href="#">Representations questionnaire</a></strong></p>
                            </li>
                            <li>
                              <a href="#">Frequently Asked Questions </a> (version 1.0) document has also now been published.</li>
                            <br>
                            <li>29 May 2020 - It is important that all Interested Parties who might wish to
                                participate in hearings respond to the online questionnaire inviting representations on how
                                virtual hearings might be held by 5pm on 11 June 2020.  Responses to this questionnaire will help the
                                Examining Authority develop hearings that meet public health requirements and Interested Parties’ needs.
                                The questionnaire is easy to complete on an internet connected device:
                                computer, laptop, tablet or smartphone.</li>
                            <br>
                            <li>
                              <p class="govuk-body"><strong><a href="#">Representations questionnaire</a></strong></p>
                            </li>
                            <li>the planning inspectorate has sent postal notifications to Interested Parties for whom we have no email address: if they are unable to access the electronic version of the questionnaire they can contact the Case team on 0303 444 5000 for assistance with this between the hours of 9:00am and 12 noon, Monday to Friday.
                                </li>

                          </ul>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>   June 2020 </strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li> 08 June 2020 - Please remember that there is a deadline this Thursday 11 June at 5pm for the following:</li>
                            <li> - Responses to the questionnaire on how virtual hearings might be used to examine the application, to inform our thinking on the forthcoming examination</li>
                            <li> - Responses to procedural decisions for the submission of early drafts of Statements of Common Ground (7.1) and Comments on Relevant Representations (11).</li>
                            <br>
                            <li> 26 June 2020 - The Examining Authority has exercised its discretion to accept Additional Submissions in direct response to questions and on procedural matters from:</li>
                            <li> - <a href="#"> Acme Limited </a>
                            </li>
                            <li> - <a href="#"> Marine Organisation </a>
                            </li>
                            <li>- <a href="#"> East Council and East County Council</a>. </li>
                            <br>
                            <li>These documents have been added to the <a href="#"> Examination Library</a>. Please note that the Examination has not yet started so, whilst the ExA is interested in your views about how the Examination could be run, it cannot consider any submissions about the planning merits of the application. Those must be made later, during the Examination itself. As the ExA has not called for any written submissions other than responses to the questionnaire and procedural matters, it will not accept, consider or publish
                                any written submissions that address the planning merits of the application. </li>
                          </ul>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>   July 2020 </strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li> 16 July 2020 - The notification of Preliminary Meeting (Rule 6 letter) has been sent</li><br>
                            <li>
                              <p class="govuk-body"><strong><a href="#">Read the letter</a></strong></p>
                            </li>
                            <li>The letter also includes the draft Examination Timetable and Initial Assessment of Principal Issues.</li>
                            <br>
                            <li>16 July 2020 - The new <a href="#"> Rule 6 Letter</a> notifying you of the Preliminary Meeting has been issued, that includes the draft Examination timetable and replaces the Rule 6 letter of 21 February 2020. Once you have read the letter, please complete the <a href="#"> Preliminary Meeting Involvement Form</a>, which must be completed by Procedural Deadline A (13 August 2020). Further information relating to the Involvement Form, Preliminary Meeting and the Examination is contained in the updated <a href="#"> Frequently Asked Questions </a> document.</li>
                            <br>
                            <li>
                              <p class="govuk-body"><strong><a href="#"> Preliminary Meeting Involvement Form</a></strong></p>
                            </li>
                            <li>28 July 2020 - The notification of the Preliminary Meeting (Rule 6 letter) has been sent,
                            please refer to Annex B which introduces the Preliminary Meeting and how you can participate.
                            The FAQs provides further information on the Preliminary Meeting, the Examination and the
                            Involvement form. Interested Parties must complete the <a href="#"> Preliminary Meeting Involvement Form </a>,
                            by Procedural Deadline A (13 August 2020) if they wish to participate.</li>
                          </ul>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>   August 2020 </strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li> 11 August 2020 - The notification of the Preliminary Meeting <a href="#">(Rule 6 letter dated 16 July 2020 </a> PDF 604kb) refers to Annex B which introduces the Preliminary Meeting and how you can participate. The <a href="#"> FAQs provide further information on the Preliminary Meeting, the Examination and the Involvement form </a> (PDF 443kb). Interested Parties wishing to participate must complete the <a href="#"> Preliminary Meeting Involvement Form </a> by Procedural Deadline A which is this Thursday 13 August 2020.</li>
                            <br>
                            <li>14 August 2020 - The Examining Authority thanks everyone who completed the Preliminary Meeting (PM) involvement form or provided written submissions by Procedural Deadline A. These have been very helpful ahead of the PM which will commence on Wednesday 16 September 2020. Instructions on how to join the meeting will be issued by email on Tuesday 15 September 2020. Instructions on how to view it in real time (by livestream) or on catchup (a recording) will be published here on the same date.</li><br>
                            <li>18 August 2020 - The Rule 6 letter (Annex E) notified all Interested Parties (IPs) of the Open Floor Hearings (OFHs) scheduled from 7-9 October 2020. Interested parties must complete the OFH Involvement Form, by Procedural Deadline B (9 September 2020) if they wish to participate. The Examining Authority (ExA) will take these submissions into consideration when finalising the agenda. Where possible the ExA will try to accommodate all IPs preferred dates/times for the first round of OFHs. However if it is not possible to accommodate all submissions, there will be a further opportunity for IPs to request to be heard at the remaining OFHs by Deadline 1, as per the draft Examination timetable.</li><br>
                            <li>
                              <p class="govuk-body"><strong><a href="#"> OFH Involvement Form</a></strong></p>
                            </li>
                            <li> 28 August 2020 - The ExA has now published submissions made at <a href="#"> Procedural Deadline A </a> as two documents to assist preparations for the Preliminary Meeting: a <a href="#"> Report of procedural submissions from persons attending the
                                Preliminary Meeting</a> (PDF 382kb) and a <a href="#"> Report of procedural submissions from persons not
                                attending the Preliminary Meeting </a> (PDF 876kb).</li>
                          </ul>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>   September 2020 </strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li> 09 September 2020 - The Examining Authority would like to thank those who provided written submissions by <a href="#"> Procedural Deadline A </a>. These have been very helpful ahead of the Preliminary Meeting (PM), which will open at 10.00 on Wednesday 16 September 2020. For those that have indicated a wish to speak on specific agenda items, instructions on how to join the meeting will be issued by email on Tuesday 15 September 2020. For those that would like to view the PM in real time, the link to the livestream will be published on this project web page on Tuesday 15 September 2020. Those participating or observing the PM should familiarise themselves with the<a href="#">  Rule 6 letter </a> (PDF, 604kb), dated 16 July 2020. It is particularly important to read Annex B, which provides an introduction to the PM,
                            as this will not be covered in detail in the meeting.</li>
                            <br>
                            <li>11 September 2020 - The Examining Authority has now published the <a href="#"> detailed Agenda for Part 1 of the Preliminary Meeting (PM) </a>, (PDF, 146kb) which will open at 10.00 on Wednesday 16 September 2020.
                                The Examining Authority would like to thank those who provided written submissions by <a href="#">Procedural Deadline A </a>. These have been very helpful ahead of the PM. For those that have indicated a wish to speak on specific agenda items, instructions on how to join the meeting will be issued by email on Tuesday 15 September 2020.
                                For those that would like to view the PM in real time, the link to the livestream will be published on this project web page on Tuesday 15 September 2020.
                                Those participating or observing the PM should familiarise themselves with the <a href="#"> Rule 6 letter </a> (PDF, 601kb), dated 16 July 2020. It is particularly important to read Annex B, which provides an introduction to the PM, as this will not be covered in detail in the meeting.</li><br>
                            <li> 15 September 2020 - Instructions for those wishing to participate in the Preliminary Meeting (PM) have been sent. For those wishing to observe in real time, please use the following link <a href="#"> Livestream of PM (Part 1)</a>.
                                Please note that the PM will start broadcasting ‘LIVE’ once it opens at 10.00 on Wednesday 16 September 2020. If the Livestream doesn’t initially work, it may be resolved by refreshing the page or if you can’t hear anything, it may be that your sound is turned off and therefore un-muting or increasing the sound volume may resolve the issue.
                                We would remind those observing the PM that there is an opportunity to provide any written responses to matters raised at the PM by Procedural Deadline C (29 September 2020).</li><br>
                            <li> 18 September 2020 - The recordings of the Preliminary Meeting (Part 1) <a href="#" > Recording of the Preliminary Meeting (Part 1) (Session 1), </a>
                              <a href="#" > Recording of the Preliminary Meeting (Part 1) (Session 2)</a>, <a href="#" > Recording of the Preliminary Meeting (Part 1) (Session 3) </a> have been published and added to the <a href="#" > Examination Library</a>. Any responses to matters discussed during the PM must be submitted by Procedural Deadline C (Tuesday 29 September 2020).
                                The project Case Teams will be running MS Teams Familiarisation Sessions w/c 28 September 2020, in advance of the Examination starting and the scheduled Open Floor Hearing events (7-9 October). If there are any Interested Parties wishing to attend these Familiarisation Sessions please contact either the<a href="#" >  EA1N </a> and/ or <a href="#" > EA2 </a> case team to request your participation. Requests must be received no later than Wednesday 23 September 2020.
                                The Case Team would appreciate it if you could confirm your name, unique reference number for these project and your preferred time to attend being 10.00am to 11.00am OR 12.00pm to 1.00pm. The Case Team will confirm via a joining instruction email the date and time you will be expected to attend a dedicated Familiarisation Session. Please be advised that we may not be able to offer everyone a session, however, we will run a further Familiarisation Session for those that were not successful this time during the Examination and
                                before the first round of Issue Specific Hearings.</li><br>
                            <li> 28 September 2020 - The Examining Authority has now published the detailed <a href="#" >Agenda for the Open Floor Hearings</a> (OFHs1 – 3) to be held 7-9 October 2020. Annex A to this Agenda provides a running order of speakers and starting time for each OFH event. Speakers have been notified via email today which OFH they are expected to speak at and are encouraged to review Annex B which provides further explanation and advice for speakers prior to attending the OFHs.
                                  For those wishing to observe the OFHs via the internet on a computer or smart phone on Wednesday 7th, Thursday 8th and Friday 9th October 2020 (please refer to the Agenda for start times), this will be broadcast via Livestream. Please use the following link on the day:
                                  <a href="#" >Observe the acme project Open Floor Hearings</a>
                            </li>
                          </ul>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            <strong>   October 2020 </strong>
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li> 05 October 2020 - Responses submitted for <a href="#">Procedural Deadline C </a> have been published. Additionally, the Examining Authority has published a <a href="#">detailed agenda for part 2 of the Preliminary Meeting</a>, (PDF, 158kb) which will be held on Tuesday 6 October 2020. Procedural Deadline C submissions, and detailed agenda,
                            have been added to the <a href="#">Examination Library</a> (PDF, 950kb).</li>
                            <br>
                            <li> 05 October 2020 - Instructions for those wishing to participate in the Preliminary Meeting (PM) have been sent. The <a href="#" > Livestream of PM (Part 2) and Open Floor Hearing 1-3 </a> is available for those wishing to observe this week in real time.
                            Please refer to the <a href="#" > Detailed Agenda for PM: Part 2 </a> (PDF, 158kb) and the <a href="#" > Agenda for OFH 1-3 </a>(PDF, 227kb) to see when each event will start broadcasting ‘LIVE’. If the Livestream doesn’t initially work, it may be resolved by refreshing the page or if you can’t hear anything, it may be that your sound is turned off and therefore un-muting or
                            increasing the sound volume may resolve the issue.</li>
                            <br>
                            <li> 06 October 2020 - Preliminary Meeting takes place. Examination begins.</li>
                            <br>
                            <li> 07 October 2020 - The Preliminary Meeting has closed and the Examination has now begun.
                            Those parties speaking at the Open Floor Hearings this week will be sent joining instructions on how to participate before each event.
                            The <a href="#" >Livestream of Open Floor Hearing 1-3 </a> is available for those wishing to observe this week in real time. Please refer to the <a href="#" >Agenda for OFH 1-3 </a>(PDF, 227kb) to see when each event will start broadcasting ‘LIVE’. If the Livestream doesn’t initially work, it may be resolved by refreshing the page or if you can’t hear anything, it may be that your sound is turned off and therefore un-muting or increasing the sound volume may resolve the issue.</li>
                          </ul>
                        </div>
                      </details>

                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-appellant">
                    Examination of the application &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; <strong class="govuk-tag govuk-tag--grey"> Not started</strong>
                  </span>
                </h2>
              </div>

              <div id="accordion-default-content-appellant" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-appellant">

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                    <div class="govuk-!-margin-top-0">

                      <p> The examination stage is where the Examining Authority, the developer and anyone who has registered to have their say will get involved and comment on the proposed development at a number of set deadlines. This stage takes six months. </p>


                    </div>
                  </div>

                </div>

              </div>
            </div>

            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-appellant">
                    Recommendation and decision &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; <strong class="govuk-tag govuk-tag--grey"> Not started</strong>
                  </span>
                </h2>
              </div>

              <div id="accordion-default-content-appellant" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-appellant">

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                    <div class="govuk-!-margin-top-0">

                      <p> Recommendation and decision is where the Examining Authority writes its recommendation report. This must be completed and sent to the Secretary of State within three months of the end of Examination.
                       The relevant Secretary of State then makes the final decision.</p>


                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </main>
    </div>
  {% endblock %}
  {% block footer %}
    {{ pinsFooter() }}
  {% endblock %}