{% extends "layout.html" %}

{% block pageTitle %}
Do you have an interested party number?  {% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader({
  serviceNameNoLink: "Have your say on an application"   ,
  serviceUrl: "/design-sprint-34/start/"

}) }}


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back();"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/design-sprint-34/ip-number-available-answer" method="post" novalidate>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you have an interested party number?
      </h1>
    </legend>
    <div id="ip-number-hint" class="govuk-hint">
      <p class="govuk-hint">This is a unique reference number that identifies you as an Interested Party.</p>

    <p class="govuk-hint">You will have been given this number when you registered.</p>
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ip-available-yes" name="entity[ipavailable]" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="ip-available-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ip-available-no" name="entity[ipavailable]" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="ip-available-no">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

  </div>
</div>
{% endblock %}


{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
