<nav class="hmcts-pagination" id="pagination-label">

  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

  <ul class="hmcts-pagination__list">

    <li class="hmcts-pagination__item  hmcts-pagination__item--prev">
      <a class="hmcts-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>

    <li class="hmcts-pagination__item hmcts-pagination__item--active">1</li>

    <li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="#">2</a></li>

    <li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="#">3</a></li>

    <li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="#">4</a></li>

    <li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="#">5</a></li>


    <li class="hmcts-pagination__item  hmcts-pagination__item--next">
      <a class="hmcts-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>

  </ul>

  <p class="hmcts-pagination__results">Showing <b>10</b> to <b>20</b> of <b>256</b> results</p>

</nav>
