{% extends "layout.html" %}

{% block pageTitle %}
Recommendation and decision
{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}
{% block content %}

    <h1 class="govuk-heading-xl">
      Recommendation and decision
    </h1>
    <h2 class="pins-contents-list-title govuk-heading-s">Contents</h2>
    <ol class="govuk-list pins-contents-list">
      <li><a href="#about-the-recommendation-of-the-project">About the recommendation of the project</a></li>
      <li><a href="#what-the-planning-inspectorate-does-to-make-the-recommendation">What the planning inspectorate does to make the recommendation</a></li>
      <li><a href="#who-makes-the-final-decision">Who makes the final decision</a></li>
    </ol>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="pins-step-by-step-section-main">
                <h2 class="govuk-heading-m" id="about-the-recommendation-of-the-project">About the recommedation and decision</h2>
                <p>In this stage, the Examining Authority writes its recommendation report. This must be completed and sent to the Secretary of State within three months of the end of Examination.</p>
                <p>The Secretary of State will then use the recommendation report to make the final decision.</p>
                <h2 class="govuk-heading-m" id="what-the-planning-inspectorate-does-to-make-the-recommendation">What the planning inspectorate does to make the recommendation</h2>
                <p>After the Examining Authority has completed all its enquiries and understood everyone's views during the Examination, it will then write its recommendation report.</p>
                <p>The Examining Authority has three months to write its report.</p>
                <h2 class="govuk-heading-m" id="who-makes-the-final-decision">Who makes the final decision</h2>
                <p>The Secretary of State for the relevant government department will read the Examining Authority's recommendation report.</p>
                <p>They then make the final decision about if they should grant a Development Consent Order (DCO) for the developer to build their Nationally Significant Infrastructure Project.</p>
                <p>They have three months to decide, and the planning inspectorate publishes the Secretary of State's final decision on our website.</p>

                <div class="pins-step-by-step-navigation pins-step-by-step-navigation-next">
                    <a href="what-happens-after-a-decision-has-been-made">
                        <!-- <svg role="presentation" focusable="false" class="pins-step-by-step-navigation-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                          </svg> -->
                        <svg class="pins-step-by-step-navigation-icon" xmlns="http://www.w3.org/2000/svg" viewBox="174.787 16.921 16.7 13" width="17" height="13">
                        <path d="M 6.5 0 L 0 6.5 L 1.4 8 L 5.4 4 L 5.4 16.7 L 7.4 16.7 L 7.4 4 L 11.7 8 L 13 6.4 Z" fill="currentColor" transform="matrix(0.000001, 1, -1, 0.000001, 191.486923, 16.921318)" class=""></path>
                        </svg>
                        <strong>Next</strong>
                        <span>What happens after a decision has been made</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="pins-step-by-step-section-sidebar">

      <div class="app-step-nav-related app-step-nav-related--singular">
          <h2 class="app-step-nav-related__heading">
              <span class="app-step-nav-related__pretitle">Part of</span>
              <a href="./">The decision-making process for national infrastructure projects</a>
          </h2>

      </div>
      <div id="step-by-step-navigation-default-process-guide" class="pins-step-nav app-step-nav">
        <ol class="app-step-nav__steps">
          <li aria-current="step" data-show id="pre-application" class="app-step-nav__step

            ">
            <div class="app-step-nav__header " data-position="1">
                <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                        <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 1
                        <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                    </span>
                </span>
                <span>
                    Pre-application
                </span>
                </h3>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-pre-application-1">
                <p class="app-step-nav__paragraph">Pre-application is the first stage of the process. This is where the developer must run a consultation and engage with people and organisations in the area. They must also create detailed documents about the impact the project could have on the environment.</p>
                <p class="app-step-nav__paragraph"><a href="pre-application.html" class="app-step-nav__link">Find out about what the developer needs to do and check our detailed guides</a></p>
            </div>
          </li>
          <li aria-current="step" data-show id="review-of-the-application" class="app-step-nav__step

            ">
            <div class="app-step-nav__header " data-position="2">
                <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                        <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 2
                        <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                    </span>
                </span>
                <span>
                    Review of the application
                </span>
                </h3>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-rreview-of-the-application-1">
                <p class="app-step-nav__paragraph">This is called the Acceptance stage. This is when the developer sends us all of the information in their application including all of the consultation they have done. We look at all of the documents to check if we can accept the application for examination. We have 28 days to make this decision.</p>
                <p class="app-step-nav__paragraph"><a href="review-of-the-application.html" class="app-step-nav__link">How the review works and what happens next</a></p>
            </div>
          </li>
          <li aria-current="step" data-show id="pre-examination-of-the-project" class="app-step-nav__step

            ">
            <div class="app-step-nav__header " data-position="3">
                <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                        <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 3
                        <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                    </span>
                </span>
                <span>
                    Pre-examination
                </span>
                </h3>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-pre-examination-of-the-project-1">
                <p class="app-step-nav__paragraph"> We identify an inspector or a panel of inspectors called the Examining Authority and make a plan for the Examination stage. Anyone who wants to have their say will be able to register at this stage. Registration is open for 30 days.</p>
                <p class="app-step-nav__paragraph"><a href="pre-examination.html" class="app-step-nav__link">What happens during pre-examination</a></p>
            </div>
          </li>
          <li aria-current="step" data-show id="examination-of-the-project" class="app-step-nav__step

            ">
              <div class="app-step-nav__header " data-position="4">
                  <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                          <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 4
                          <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                      </span>
                      </span>
                  </span>
                  <span>
                      Examination of the application
                  </span>
                  </h3>
              </div>
              <div class="app-step-nav__panel js-panel" id="step-panel-examination-of-the-project-1">
                  <p class="app-step-nav__paragraph">The examination stage is where the Examining Authority, the developer and anyone who has registered to have their say will get involved and comment on the proposed development at a number of set deadlines. This stage takes six months.</p>
                  <p class="app-step-nav__paragraph"><a href="examination.html" class="app-step-nav__link">What happens at the Examination of the application</a></p>
              </div>
          </li>
          <li aria-current="step" data-show id="recommendation-and-decision" class="app-step-nav__step

                app-step-nav__step--active

            ">
              <div class="app-step-nav__header " data-position="5">
                  <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                          <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 5
                          <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                      </span>
                      </span>
                  </span>
                  <span>
                      Recommendation and decision
                  </span>
                  </h3>
              </div>
              <div class="app-step-nav__panel js-panel" id="step-panel-recommendation-and-decision-1">
                  <p class="app-step-nav__paragraph">Recommendation and decision is where the Examining Authority writes its recommendation report. This must be completed and sent to the Secretary of State within three months of the end of Examination. The relevant Secretary of State then makes the final decision.</p>
                  <p class="app-step-nav__paragraph"><a href="recommendation-and-decision.html" class="app-step-nav__link">Making our recommendation and who makes the final decision</a></p>
              </div>
          </li>
          <li aria-current="step" data-show id="what-happens-after-a-decision-is-made" class="app-step-nav__step

            ">
            <div class="app-step-nav__header " data-position="6">
                <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                        <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 6
                        <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                    </span>
                </span>
                <span>
                    What happens after a decision is made
                </span>
                </h3>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-what-happens-after-a-decision-is-made-1">
                <p class="app-step-nav__paragraph">Once a decision is made by the Secretary of State, there is a six week period where people can challenge the decision in the High Court. This is called a Judicial Review.</p>
                <p class="app-step-nav__paragraph"><a href="what-happens-after-a-decision-has-been-made.html" class="app-step-nav__link">What you can do after the decision has been made</a></p>
            </div>
          </li>
        </ol>
      </div>

  </div>
          </div>


      </div>

{% endblock %}

{% block footer %}
    {{ pinsFooter() }}
{% endblock %}
