{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Register to have your say
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="comment">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of interested party
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['type-of-interested-party']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="type-of-party">
              Change
              <span class="govuk-visually-hidden"> type of interested party</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['full-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="full-name">
              Change
              <span class="govuk-visually-hidden"> full name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are you 18 or over?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['over-18'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="over-18">
              Change
              <span class="govuk-visually-hidden"> 18 or over</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address-line-1'] }}
            <br>{{ data['address-line-2'] }}
            <br>{{ data['address-town'] }}
            <br>{{ data['address-county'] }}
            <br>{{ data['address-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="address">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['email'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="email">
              Change
              <span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['telephone-number'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="telephone">
              Change
              <span class="govuk-visually-hidden"> telephone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Topics commenting about
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['topics'] }} {{data['other-text']}}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="topic">
              Change
              <span class="govuk-visually-hidden"> topics of comment</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your comment
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['comment'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="comment">
              Change
              <span class="govuk-visually-hidden"> your comment</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p class="govuk-body">By submitting this form you are registering as an interested party. This means you can take part in the examination of the project and comment on the project details. The examining panel must consider your views when they recommend if the project should go ahead.</p>
      <p class="govuk-body">By registering as an interested party, you are agreeing that we will use your details to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>contact you about the project or if we need more information</li>
        <li>let you know when you can submit further comments as part of examination</li>
      </ul>
      <p class="govuk-body">You are also agreeing that all comments you submit, along with your name, will be published on the website. No contact details will be made public.</p>

      <form action="confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
  
{% block footer %}
  {{ pinsFooter() }}
{% endblock %}