{% extends "layout.html" %}

{% block pageTitle %}
  Your full name - Register to have your say
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="type-of-party">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form autocomplete="off" class="form" action="organisation-role" method="post">
        {{ govukInput({
          label: {
            text: "What is the name of your organisation or charity?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "organisation-name",
          name: "organisation-name",

          spellcheck: false
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
