{% extends "layout.html" %}

{% block pageTitle %}
  Comments - Register to have your say
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="comment">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="check-your-answers" method="post">
        <!-- Nunjucks object for the Other textbox -->
        {% set otherHtml %}
        {{ govukInput({
          id: "other-text",
          name: "other-text",
          type: "text",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Other topic"
          }
        }) }}
        {% endset -%}

        {{ govukCheckboxes({
          idPrefix: "topics",
          name: "topics",
          fieldset: {
            legend: {
              text: "What topics are you commenting about?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all options that are relevant to you."
          },
          items: [
            {
              value: "Traffic",
              text: "Traffic"
            },
            {
              value: "Noise",
              text: "Noise"
            },
            {
              value: "Air quality",
              text: "Air quality"
            },
            {
              value: "Heritage",
              text: "Heritage"
            },
            {
              value: "Landscape and visual",
              text: "Landscape and visual"
            },
            {
              value: "Local wildlife and habitats",
              text: "Local wildlife and habitats"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}
        

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
  
{% block footer %}
  {{ pinsFooter() }}
{% endblock %}