{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ pinsHeader() }}
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      The GOV.UK Prototype Kit
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}
    <p>
      This kit lets you rapidly create HTML prototypes of GOV.UK services.
    </p>

    <p>
      It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
    </p>

    <h2 class="govuk-heading-m">About this page</h2>
    <p>This is a prototype and so not all functionality will be available. If you have any issues or questions about this prototype you can email <a href="mailto:olusola.amure@planninginspectorate.gov.uk">Olu Amure</a> or <a href="mailto:phil.sherwin-nicholls@planninginspectorate.gov.uk">Phil Sherwin-Nicholls</a>.</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 8</h3>
    <p>Here we're looking at some new concepts for the submission journey </p>
     <ol class="govuk-list govuk-list--number">
      <li><a href="./sprint-8/timetable-published-email">Email: Timetable published</a></li>
      <li><a href="./sprint-8/examination/">Overview page: Examination</a></li>
     
    </ol>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 6 (not tested)</h3>
    <p>Here we're looking at the as-is submission journey and have iterated the Register to have your say service as well as the guides</p>
     <ol class="govuk-list govuk-list--number">
      <li><a href="./sprint-6/pre-examination/">Overview page: Pre-examination</a></li>
      <li><a href="./sprint-6/pre-examination/register/start">Register to have your say about a national infrastructure project</a></li>
      <li><a href="./sprint-6/get-updates/">Get updates about a project</a></li>
      <li><a href="./sprint-6/examination/">Overview page: Examination</a></li>
      <li><a href="./sprint-6/examination/submission/start">Have your say during the Examination of the application</a></li>
      <li><a href="./sprint-6/interested-party-guide/">Guide: Having your say about a national infrastructure project</a></li>
      <li><a href="./sprint-6/dco-process-guide/">Guide: The decision-making process for national infrastructure projects</a></li>
    </ol>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Minimal Viable Product</h3>
    <p>Here we're documenting the designs for the MVP, this includes:</p>
     <ol class="govuk-list govuk-list--number">
      <li><a href="./mvp/pre-application/">Overview page: Pre-application</a></li>
      <li><a href="./mvp/review-of-the-application/">Overview page: Review of the application</a></li>
      <li><a href="./mvp/pre-examination/">Overview page: Pre-examination</a></li>
      <li><a href="./mvp/pre-examination/register/start">Register to have your say about a national infrastructure project</a></li>
      <li><a href="./mvp/interested-party-guide/">Guide: Having your say about a national infrastructure project</a></li>
      <li><a href="./mvp/dco-process-guide/">Guide: The decision-making process for national infrastructure projects</a></li>
    </ol>

    
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 5:</h3>
    <p>Here we're investigating comments and topics, content from the advice notes and contact preferences</p>
    <ol class="govuk-list govuk-list--number">
      <li><a href="./sprint-5/registration-email">Email: Pre-Examination </a></li>
      <li><a href="./sprint-5/">Overview page: Pre-examination</a></li>
      <li><a href="./sprint-5/register/start">Register to have your say about a national infrastructure project</a></li>
      <li><a href="./sprint-5/register/confirmation-email">Email: Registration confirmation</a></li>
      <li><a href="./sprint-5/timetable-published-email">Email: Timetable published</a></li>
      <li><a href="./sprint-5/examination/">Overview page: Examination</a></li>
      <li><a href="./sprint-5/examination/representations">Representations</a></li>
      <li><a href="./sprint-5/examination/timetable">Timetable</a></li>
    </ol>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 4:</h3>
    <p>Here we're investigating different navigation options, email communications and a different structure to the project overview</p>
    <ol class="govuk-list govuk-list--number">
      <li>Overview in pre application stage (<a href="../sprint-4/breadcrumbs/">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/">vertical tabs</a>)</li>
      <li>Email: Register to have your say (<a href="../sprint-4/breadcrumbs/registration-email">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/registration-email">vertical tabs</a>)</li>
      <li>Overview in pre-examination stage (<a href="../sprint-4/breadcrumbs/pre-examination">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/pre-examination/">vertical tabs</a>)</li>
      <li><a href="../sprint-4/register/start">Register to have your say</a></li>
      <li>Email: Examination timeline (<a href="../sprint-4/breadcrumbs/examination-started-email">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/examination-started-email">vertical tabs</a>)</li>
      <li>Overview in examination stage  (<a href="../sprint-4/breadcrumbs/examination">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/examination/">vertical tabs</a>)</li>
      <li>Examination timetable (<a href="../sprint-4/breadcrumbs/timetable">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/examination/timetable">vertical tabs</a>)</li>
    </ol>

    <h3 class="govuk-heading-s">Sprint 3 and earlier:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="./sprint-3/overview">Overview page</a>
      <ul class="govuk-list govuk-list--number">
        <li><a href="./sprint-3/overview-pages/overview-1-pre-application">Pre-application</a></li>
        <li><a href="./sprint-3/overview-pages/overview-2-review">Review of the application</a></li>
        <li><a href="./sprint-3/overview-pages/overview-3-pre-examination">Pre-examination</a></li>
        <li><a href="./sprint-3/overview-pages/overview-4-examination">Examination</a></li>
        <li><a href="./sprint-3/overview-pages/overview-5-recommendation">Recommendation and decision</a></li>
        <li><a href="./sprint-3/overview-pages/overview-6-post-decision">Post decision</a></li>
      </ul>
      </li>
      <li><a href="./sprint-3/register/start">Register to have your say</a></li>
      <li><a href="./sprint-3/document-library">Document library</a></li>
      <li><a href="./sprint-3/interested-party-guide/">Interested party guide</a></li>
      <li><a href="./sprint-3/dco-process-guide/">The Development Consent Order (DCO) process guide</a></li>
    </ul>    

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m ">Examples and documentation</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}


{% block footer %}
{{ pinsFooter() }}
{% endblock %}
