{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ pinsHeader() }}
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      IxD index
    </h1>
    <p class="govuk-body">For user research, see <a href="research">the research index</a>.</p>

    

    <h2 class="govuk-heading-m">Applications Service</h2>

     <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Design Sprint 26</h3>
     <ol class="govuk-list govuk-list--number">
        <li><a href="/design-sprint-26/home/index-new-v3">Home page - updated for September UR</a></li>
         <li><a href="/design-sprint-26/home/index-new-v2">Home page</a></li>
          <li><a href="/design-sprint-26/get-updates/index">get updates (updated success messages)</a></li>
            <li><a href="/design-sprint-26/get-updates/unsubscribe-confirm">get updates unsubscribe  (updated success messages) - MVP</a></li>
        <li><a href="https://nitestaz.planninginspectorate.gov.uk/">Redirect on legacy site (use Drax)</a></li>
          <li><a href="/design-sprint-26/transition/index">Transition to full beta</a></li>
       <li><a href="/design-sprint-26/projects/projects-load">Project search</a></li>
          <li><a href="/design-sprint-26/start">Have your say - updated for first name last name (BO integration)</a></li>
          <li><a href="/design-sprint-26/register/start">Register to have your say - updated for first name last name (BO integration</a></li>
          <li><a href="/design-sprint-26/project-overview/index-dynamic">Project overview</a></li>
          <li><a href="/design-sprint-26/dco-process-guide/index">Process guide</a></li>
          <li><a href="/design-sprint-26/project-overview/project-stage/index-dynamic-1">Project stage - end to end</a></li>


         </ol>

   <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Design Sprint 21 (sprint numbers aligned with dev)</h3>
   <ol class="govuk-list govuk-list--number">
     <!-- <li><a href="https://nitestaz.planninginspectorate.gov.uk/">Redirect on legacy site (use Drax)</a></li> -->
     <li><a href="/design-sprint-26/get-updates/index">get updates (with additional frequency options)</a></li>
     <li><a href="/design-sprint-21/project-overview/index-dynamic">Project overview</a></li>
        <li><a href="/design-sprint-21/home/index">Home page</a></li>
        <li><a href="/design-sprint-21/projects/projects-load">Project search</a></li>
            <li><a href="/design-sprint-21/interested-party-guide/index">Have your say guide</a></li>
            <li><a href="/design-sprint-21/start">Have your say</a></li>
            <li><a href="/design-sprint-21/register/start">Register to have your say</a></li>
            <!--<li><a href="/design-sprint-21/dco-process-guide/index">Process guide</a></li>-->
       </ol>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Design Sprint 11</h3>
      <ol class="govuk-list govuk-list--number">
          <li><a href="/design-sprint-11/home/index">Top-tail: Homepage</a></li>
        <li><a href="/design-sprint-11/get-updates/unsubscribe-confirm">updates unsubscribe - MVP</a></li>
        <li><a href="/design-sprint-11/get-updates/unsubscribe">updates unsubscribe and update details - provisionally non MVP</a></li>
      <li><a href="/design-sprint-11/get-updates/index">Get email updates</a></li>
      <li><a href="/design-sprint-11/project-overview/index-dynamic">Project information</a></li>
      <li><a href="/design-sprint-11/timeline/index">Timeline</a></li>
      <li><a href="/design-sprint-11/s51/index">Section 51 advice</a></li>
      <li><a href="/design-sprint-11/wide-nav/doc-library">Document library - no apply button</a></li>
      <li><a href="/design-sprint-11/relevant-representations/index">Relevant representations</a></li>
      <li><a href="/design-sprint-11/timetable/timetable-upcoming-first-accordion">Examination timetable</a></li>
      <li><a href="/design-sprint-11/start">Have your say</a></li>
      <li><a href="/design-sprint-11/get-updates/index">Get email updates</a></li>
        <li><a href="/design-sprint-21/interested-party-guide/index">Have your say guide</a></li>
           </ol>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Design Sprint 9</h3>
    <ol class="govuk-list govuk-list--number">
    <li><a href="/design-sprint-9/project-overview/index-dynamic">Project information</a></li>
    <li><a href="/design-sprint-9/timeline/index">Timeline</a></li>
    <li><a href="/design-sprint-9/s51/index">Section 51 advice</a></li>
    <li><a href="/design-sprint-9/wide-nav/doc-library">Document library</a></li>
    <li><a href="/design-sprint-9/relevant-representations/index">Relevant representations</a></li>
    <li><a href="/design-sprint-9/timetable/timetable-upcoming-first-accordion">Examination timetable</a></li>
    <li><a href="/design-sprint-9/start">Have your say</a></li>
    <li><a href="/design-sprint-9/get-updates/index">Get email updates</a></li>
         </ol>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Design Sprint 7</h3>
    <ol class="govuk-list govuk-list--number">
      <li><a href="/design-sprint-7/project-overview/index-dynamic">Overview timeline graphic w/detailed stage info</a></li>
      <li><a href="/design-sprint-7/project-overview/index-dynamic-alt">Overview timeline graphic w/out detailed stage info</a></li>

      <li><a href="/design-sprint-7/advice-notes/index">Advice notes</a></li>
      <li><a href="/design-sprint-7/dco-process-guide/index">Process guide</a></li>
      <li><a href="/design-sprint-7/project-overview/index-autobanners">Autobanners (all 6 shown on single page)</a></li>
      <li><a href="/design-sprint-7/project-overview/dynamic/index-journey-1">Project overview with dynamic stage and auto banner content - step through</a></li>
      <li><a href="/design-sprint-7/project-overview/index-application-type">Project overview - displaying application type</a></li>
      <li><a href="/design-sprint-7/register/start">Registration - changes to support back office</a></li>
            <li><a href="/design-sprint-7/wide-nav/doc-library">Doc library - Date filter</a></li>

         </ol>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Design Sprint 6</h3>

     <ol class="govuk-list govuk-list--number">
       <li><a href="/design-sprint-6/project-overview/index-dynamic">Project overview - Replaced graphic with status indicator using task list pattern</a></li>
       <li><a href="/design-sprint-6/project-overview/index">Project overview - Original graphic</a></li>

       <li><a href="/design-sprint-6/timeline/update-archive-alt">Archive of project updates - Timeline design 1</a></li>
       <li><a href="/design-sprint-6/timeline/update-archive">Archive of project updates - Timeline design 2</a></li>


       <li><a href="/design-sprint-6/wide-nav/doc-library?filtersapplied=false">Document library with pagination - no filters applied</a></li>
         <li><a href="/design-sprint-6/wide-nav/doc-library?filtersapplied=true">Document library with pagination - single filter applied</a></li>
         <li><a href="/design-sprint-6/wide-nav/doc-library?filtersapplied=multiple">Document library with pagination - multiple filters applied</a></li>
          <li><a href="/design-sprint-6/s51/index">Section 51 advice main</a></li>
          <li><a href="/design-sprint-6/s51/index-no-results">Section 51 advice main - no advice issued</a></li>
          <li><a href="/design-sprint-6/s51/item">Section 51 advice item with attachment</a></li>
          <li><a href="/design-sprint-6/s51/item-no-attachment">Section 51 advice item without attachment</a></li>


          </ol>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Design Sprint 5</h3>
    <ol class="govuk-list govuk-list--number">
        <li><a href="/design-sprint-5/wide-nav/doc-library?filtersapplied=false">Two thirds layout: doc filters with nav</a></li>
        <li><a href="/design-sprint-5/wide-nav/doc-library-no-nav?filtersapplied=false">Two thirds layout: doc filters without nav</a></li>

      <li><a href="/design-sprint-5/start">Have your say journey - without exam timetable</a></li>
      <li><a href="design-sprint-5/document-library/index-wide-nav">Refactored document filters in left hand side nav</a></li>
      <li><a href="design-sprint-5/document-library/index-top-nav">Refactored document filters in top nav</a></li>
  <li><a href="design-sprint-5/document-library/index-wide-no-nav">Refactored document filters -no nav</a></li>
      </ol>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Design Sprint 4</h3>
    <ol class="govuk-list govuk-list--number">
      <li><a href="design-sprint-4/project-overview/index-nav-journey-pre-app">Navigation sidebar by stage</a></li>

<li><a href="design-sprint-4/document-library/index-version-example">Document versioning, collections and exam library ID - Back office dependant</a></li>
  <li><a href="design-sprint-4/s51/index">Section 51 advice</a></li>

  <li><a href="/design-sprint-4/rep-filter-start">Relevant representations - new filter layout</a></li>
  <li><a href="/design-sprint-4/dco-process-guide/index">Process guide - updated content</a></li>
  <li><a href="/design-sprint-4/loading-3">Loading spinner 3rd iteration</a></li>
  <li><a href="/design-sprint-4/loading-2">Loading spinner 2nd iteration</a></li>
  <li><a href="/design-sprint-4/loading">Loading spinner 1st iteration</a></li>
<li><a href="design-sprint-4/start">Make a Submission with Save & Return</a></li>
<li><a href="design-sprint-4/timeline">Timetable amends</a></li>
<li><a href="design-sprint-4/document-library/index-v1">Refactored document filters v1 (as-is WITH js scroll)</a></li>
<li><a href="design-sprint-4/document-library/index-v2">Refactored document filters v2 (as-is WITHOUT js scroll)</a></li>
<li><a href="design-sprint-4/document-library/index-v3">Refactored document filters v3 (v2 + Extra filters + Document count)</a></li>
<li><a href="design-sprint-4/choose-deadline">Deadline selection - multiple deadlines open (with details pattern click reveal)</a></li>
<li><a href="design-sprint-4/choose-deadline-single">Deadline selection - only one deadline open</a></li>






  </ol>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Design Sprint 3</h3>
      <ol class="govuk-list govuk-list--number">
    <li><a href="design-sprint-3/project-overview/index">Project overview</a></li>
        <li><a href="design-sprint-3/timeline/index">Timeline</a></li>
    <li><a href="design-sprint-3/timetable/timetable-upcoming-first-accordion?noopendeadlines=false">Examination timetable (with accordion)</a></li>
      <li><a href="design-sprint-3/timetable/timetable-upcoming-first-accordion?noopendeadlines=true">Examination timetable (with accordion) - no open deadlines example</a></li>
    <li><a href="design-sprint-3/get-updates/index">Get updates</a></li>
    <li><a href="design-sprint-3b/start">Service design - have your say concept</a></li>



      <li><a href="design-sprint-3/document-library/index-2?filtersapplied=false&showfilters=false&results=false">Filter task 1</a></li>
      <li><a href="design-sprint-3/document-library/index-3?filtersapplied=false&showfilters=false&results=false">Filter task 2</a></li>

    </ol>
<!--Start of dynamic project stage list-->
<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Design Sprint 2</h3>

  <ol class="govuk-list govuk-list--number">
    <li><a href="design-sprint-2/dco-process-guide/index">Guide: The decision-making process for national infrastructure projects</a></li>
    <li><a href="design-sprint-2/get-updates/index">Get Updates</a></li>
    <li><a href="design-sprint-2/project-overview/index">Project Overview</a></li>
    <li><a href="design-sprint-2/timetable/timetableload">Exam timetable</a></li>
    <li><a href="design-sprint-2b/start"> Make a submission (with new loop)</a></li>
    <li><a href="design-sprint-2/start">Make a submission (with JDIs)</a></li>
      <li><a href="design-sprint-2/choose-deadline?error=true">Error example: Radio screen</a></li>
      <li><a href="design-sprint-2/ip-number?error=true">Error example: Text input screen</a></li>
      <li><a href="./june-22-build/decoupling-v1/relevant-representations-library-new-v1">Relevant reps: filters design 1</a></li>
      <li><a href="./june-22-build/decoupling-v1/relevant-representations-library-new-v2">Relevant reps: filters design 2</a></li>

    </ol>

<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Design Sprint 1</h3>
<p> This content has been reviewed and reflects the latest iteration  </p>
    <ol class="govuk-list govuk-list--number">
  <li><a href="./june-22-build/interested-party-guide/"">Guide: Having your say about a national infrastructure project</a></li>
  <!--  <li>
    <form action="/decoupling-examination-false"
   method="post">
    <a href="#" onclick="this.parentNode.submit();">Document Library decoupling (Pre-examination stage)</a>
</form>
</li>-->
    <li>
    <form action="/decoupling-examination-true"
   method="post">
    <a href="#" onclick="this.parentNode.submit();">Document Library and registration comments decoupling</a>
</form>
</li>
<li>
<form action="./june-22-build/decoupling-v1/registration"
method="post">
<a href="#" onclick="this.parentNode.submit();">Registration decoupling (save and return feature removed)</a>
</form>
</li>
<li>
<a href="design-sprint-1/start">Make a written representation</a>
</li>
<li>
<a href="design-sprint-1/timetable/timetableload">Exam timetable</a>
</li>
<li>
<a href="design-sprint-1/timetable/timetableload?form=short">Exam timetable - with limited data set for initial dev work</a>
</li>
<li>
<a href="design-sprint-1/timetable/index">Make a written representation - from project overview page</a>
</li>

  </ol>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Dynamic Project Stages experiments</h3>
    <p> Dynamic content for the 'states' within the project stages </p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Acceptance (reviewing the application) (stage 2 of 6)</h3>


    <ol class="govuk-list govuk-list--number">
     <li><a href="./mvp/acceptance/index-01">Acceptance - reviewing the application</a></li>
     <li><a href="./mvp/acceptance/index-02">Acceptance - application accepted</a></li>
   </ol>

   <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Pre-examination (stage 3 of 6)</h3>
   <ol class="govuk-list govuk-list--number">
    <li><a href="./mvp/pre-examination/index-a">Pre-examination - before rel reps opens</a></li>
    <li><a href="./mvp/pre-examination/index-b">Pre-examination - register to have your say - (latest index page iteration)</a></li>
    <li><a href="./mvp/pre-examination/index-c">Pre-examination - registration closed</a></li>
    <li><a href="./mvp/pre-examination/index-d">Pre-examination - rel reps published</a></li>
    <li><a href="./mvp/pre-examination/index-e">Pre-examination - pre lim meeting date</a></li>
    <li><a href="./mvp/pre-examination/index-f">Pre-examination - examination date</a></li>
  </ol>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Examination (stage 4 of 6)</h3>
  <ol class="govuk-list govuk-list--number">
   <li><a href="./mvp/examination/index-g">Examination - Exam timetable link</a></li>
   </ol>

   <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Pattern experiments</h3>
   <ol class="govuk-list govuk-list--number">
    <li><a href="./mvp/pre-examination/index-bb">Alt recent updates & project stage summaries</a></li>
    </ol>
    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    Notes
    </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
        <li> Display project stage explanation </li>
        <li> Use details pattern to conditionally display project stage explaination </li>
        <li> Display publish dates  </li>
        <li> Dynamic date counters </li>
      </ul>
    </div>
    </details>

<br>

<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Timeline concepts</h3>
<ol class="govuk-list govuk-list--number">
    <li><a href="./mvp/pre-examination/project-timeline-a">Timeline (example, Pre-examination) with simplified date, author and horizontal breaks between updates</a></li>
    <li><a href="./mvp/pre-examination/project-timeline-b">Timeline (example, Pre-examination) with bolded dates and use of button</a></li>
    <li><a href="./mvp/pre-examination/project-timeline-c">Timeline (example, Pre-examination) using MoJ timeline component - not suitable for large information sets</a></li>
  </ol>

<br>

<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Representations concepts</h3>
<ol class="govuk-list govuk-list--number">
    <li><a href="./sprint-5/examination/representations">Three column approach with Filters panel</a></li>
  </ol>

<!--Start of Document library experiments list-->

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Document library experiments</h3>
     <ol class="govuk-list govuk-list--number">
      <li><a href="./documents-0/">Sunnica document library</a></li>
      <li><a href="./full-bleed/pre-examination/about-the-application">Full bleed document library</a></li>
    </ol>


    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Minimal Viable Product v0</h3>
    <p>Here we're documenting the designs for the MVP, this includes:</p>
     <ol class="govuk-list govuk-list--number">
      <li><a href="./min-mvp/register/start">Register to have your say about a national infrastructure project</a></li>
      <li><a href="./min-mvp/interested-party-guide/">Guide: Having your say about a national infrastructure project</a></li>
    </ol>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Minimal Viable Product v1</h3>
    <p>Here we're documenting the designs for the MVP, this includes:</p>
     <ol class="govuk-list govuk-list--number">
      <li><a href="./mvp/pre-application/">Overview page: Pre-application</a></li>
      <li><a href="./mvp/review-of-the-application/">Overview page: Review of the application</a></li>
      <li><a href="./mvp/pre-examination/">Overview page: Pre-examination</a></li>
      <li><a href="./mvp/pre-examination/register/start">Register to have your say about a national infrastructure project</a></li>
      <li><a href="./mvp/interested-party-guide/">Guide: Having your say about a national infrastructure project</a></li>
      <li><a href="./mvp/dco-process-guide/">Guide: The decision-making process for national infrastructure projects</a></li>
    </ol>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 8</h3>
    <p>Here we're looking at some new concepts for the submission journey </p>
     <ol class="govuk-list govuk-list--number">
      <li><a href="./sprint-8/timetable-published-email">Email: Timetable published</a></li>
      <li><a href="./sprint-8/examination/">Overview page: Examination</a></li>
      <li><a href="./sprint-8/examination/submission/start">Review the project information and make a submission</a></li>

    </ol>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 6 (not tested)</h3>
    <p>Here we're looking at the as-is submission journey and have iterated the Register to have your say service as well as the guides. We didn't test this, and instead chose to run discovery-type research instead.</p>
     <ol class="govuk-list govuk-list--number">
      <li><a href="./sprint-6/pre-examination/">Overview page: Pre-examination</a></li>
      <li><a href="./sprint-6/pre-examination/register/start">Register to have your say about a national infrastructure project</a></li>
      <li><a href="./sprint-6/get-updates/">Get updates about a project</a></li>
      <li><a href="./sprint-6/examination/">Overview page: Examination</a></li>
      <li><a href="./sprint-6/examination/submission/start">Have your say during the Examination of the application</a></li>
      <li><a href="./sprint-6/interested-party-guide/">Guide: Having your say about a national infrastructure project</a></li>
      <li><a href="./sprint-6/dco-process-guide/">Guide: The decision-making process for national infrastructure projects</a></li>
    </ol>


    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 5:</h3>
    <p>Here we're investigating comments and topics, content from the advice notes and contact preferences</p>
    <ol class="govuk-list govuk-list--number">
      <li><a href="./sprint-5/registration-email">Email: Pre-Examination </a></li>
      <li><a href="./sprint-5/">Overview page: Pre-examination</a></li>
      <li><a href="./sprint-5/register/start">Register to have your say about a national infrastructure project</a></li>
      <li><a href="./sprint-5/register/confirmation-email">Email: Registration confirmation</a></li>
      <li><a href="./sprint-5/timetable-published-email">Email: Timetable published</a></li>
      <li><a href="./sprint-5/examination/">Overview page: Examination</a></li>
      <li><a href="./sprint-5/examination/representations">Representations</a></li>
      <li><a href="./sprint-5/examination/timetable">Timetable</a></li>
    </ol>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 4:</h3>
    <p>Here we're investigating different navigation options, email communications and a different structure to the project overview</p>
    <ol class="govuk-list govuk-list--number">
      <li>Overview in pre application stage (<a href="../sprint-4/breadcrumbs/">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/">vertical tabs</a>)</li>
      <li>Email: Register to have your say (<a href="../sprint-4/breadcrumbs/registration-email">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/registration-email">vertical tabs</a>)</li>
      <li>Overview in pre-examination stage (<a href="../sprint-4/breadcrumbs/pre-examination">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/pre-examination/">vertical tabs</a>)</li>
      <li><a href="../sprint-4/register/start">Register to have your say</a></li>
      <li>Email: Examination timeline (<a href="../sprint-4/breadcrumbs/examination-started-email">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/examination-started-email">vertical tabs</a>)</li>
      <li>Overview in examination stage  (<a href="../sprint-4/breadcrumbs/examination">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/examination/">vertical tabs</a>)</li>
      <li>Examination timetable (<a href="../sprint-4/breadcrumbs/timetable">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/examination/timetable">vertical tabs</a>)</li>
    </ol>

    <h3 class="govuk-heading-s">Sprint 3 and earlier:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="./sprint-3/overview">Overview page</a>
      <ul class="govuk-list govuk-list--number">
        <li><a href="./sprint-3/overview-pages/overview-1-pre-application">Pre-application</a></li>
        <li><a href="./sprint-3/overview-pages/overview-2-review">Review of the application</a></li>
        <li><a href="./sprint-3/overview-pages/overview-3-pre-examination">Pre-examination</a></li>
        <li><a href="./sprint-3/overview-pages/overview-4-examination">Examination</a></li>
        <li><a href="./sprint-3/overview-pages/overview-5-recommendation">Recommendation and decision</a></li>
        <li><a href="./sprint-3/overview-pages/overview-6-post-decision">Post decision</a></li>
      </ul>
      </li>
      <li><a href="./sprint-3/register/start">Register to have your say</a></li>
      <li><a href="./sprint-3/document-library">Document library</a></li>
      <li><a href="./sprint-3/interested-party-guide/">Interested party guide</a></li>
      <li><a href="./sprint-3/dco-process-guide/">The Development Consent Order (DCO) process guide</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m ">Examples and documentation</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}


{% block footer %}
{{ pinsFooter() }}
{% endblock %}
