{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ pinsHeader() }}
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      The GOV.UK Prototype Kit
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}
    <p>
      This kit lets you rapidly create HTML prototypes of GOV.UK services.
    </p>

    <p>
      It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
    </p>

    <a role="button" href="overview.html" class="govuk-button govuk-button-start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Go to prototype</a>

    <h2 class="govuk-heading-m">About this page</h2>
    <p>This is a prototype and so not all functionality will be available. If you have any issues or questions about this prototype you can email <a href="mailto:olusola.amure@planninginspectorate.gov.uk">Olu Amure</a> or <a href="mailto:phil.sherwin-nicholls@planninginspectorate.gov.uk">Phil Sherwin-Nicholls</a>.</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 4:</h3>
    <p>Here we're investigating different navigation options, email communications and a different structure to the project overview</p>
    <ul class="govuk-list govuk-list--number">
      <li>Overview in pre application stage (<a href="../sprint-4/breadcrumbs/">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/">vertical tabs</a>)</li>
      <li>Email: Register to have your say (<a href="../sprint-4/breadcrumbs/registration-email">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/registration-email">vertical tabs</a>)</li>
      <li>Overview in pre-examination stage (<a href="../sprint-4/breadcrumbs/pre-examination">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/pre-examination/">vertical tabs</a>)</li>
      <li>Email: Examination timeline (<a href="../sprint-4/breadcrumbs/examination-started-email">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/examination-started-email">vertical tabs</a>)</li>
      <li>Overview in examination stage  (<a href="../sprint-4/breadcrumbs/examination">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/examination/">vertical tabs</a>)</li>
      <li>Examination timetable (<a href="../sprint-4/breadcrumbs/timetable">breadcrumbs</a>) or (<a href="../sprint-4/vertical-tabs/timetable">vertical tabs</a>)</li>
    </ul>

    <h3 class="govuk-heading-s">Earlier versions:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="overview.html">Overview page</a></li>
      <li><a href="register/start.html">Register to have your say</a></li>
      <li><a href="document-library.html">Document library</a></li>
      <li><a href="interested-party-guide/index.html">Interested party guide</a></li>
      <li><a href="dco-process-guide/index.html">The Development Consent Order (DCO) process guide</a></li>
    </ul>

    <h3 class="govuk-heading-s">Overview stages:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="../overview-pages/overview-1-pre-application">Pre-application overview page</a></li>
      <li><a href="../overview-pages/overview-2-review">Review of the application overview page</a></li>
      <li><a href="../overview-pages/overview-3-pre-examination">Pre-examination overview page</a></li>
      <li><a href="../overview-pages/overview-4-examination">Examination overview page</a></li>
      <li><a href="../overview-pages/overview-5-recommendation">Recommendation and decision overview page</a></li>
      <li><a href="../overview-pages/overview-6-post-decision">Post decision overview page</a></li>
    </ul>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m ">Examples and documentation</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}


{% block footer %}
{{ pinsFooter() }}
{% endblock %}
