{% extends "layout.html" %} {% block pageTitle %} A404 Dewsbury project overview
{% endblock %} {% block headIcons %}
<link
  rel="shortcut icon"
  href="{{ asset_path }}images/unbranded.ico?0.18.3"
  type="image/x-icon"
/>
{% endblock %} {% block head %}
<!--[if lte IE 8
  ]><link
    href="/public/stylesheets/unbranded-ie8.css"
    rel="stylesheet"
    type="text/css"
/><![endif]-->
<!--[if gt IE 8]><!-->
<link
  href="/public/stylesheets/unbranded.css"
  media="all"
  rel="stylesheet"
  type="text/css"
/>
<!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

<!-- Mapbox resources -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
  rel="stylesheet"
/>
<!-- end Mapbox -->
{% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ pinsHeader() }} {% endblock %} {% block beforeContent %} {{
govukPhaseBanner({ tag: { text: "beta" }, html: 'This is a new service – your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}
{% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
        <h1 class="govuk-heading-xl">Project timeline</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {% set current = 'project-timeline' %}
        {% include "./vertical_tabs.html" %}
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-m"> Contents </h2>
        <ul class="govuk-list">
          <li><a href="#august">Pre-application</a></li>
          <li><a href="#september">Review of application</a></li>
          <li><a href="#october">Pre-examination of application</a></li>
          <li><a href="#october">Examination</a></li>
          <li><a href="#october">Recommendation and decision</a></li><br><br>
        </ul>

        <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]">
  <div class="govuk-cookie-banner__message govuk-width-container">
        <h3 class="govuk-heading-s">What has changed</h3>
        <p>The Planning Inspectorate issued a report of recommendation to the Secretary of State on 6 October 2021.
          The Secretary of State has granted development consent for this application on <strong>1 December 2021</strong>
          </p> <br>

          <h3 class="govuk-heading-s">What happens next</h3>
          <p>Development will start on <strong>1 February 2022</strong>
            </p> <br>
</div>
</div><br><br><br><br>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a href="../../dco-process-guide/pre-application"
                >Pre-application</a
              >
              <span class="tag-wrapper">
                <strong class="govuk-tag govuk-tag--green">Completed</strong>
              </span>
            </h2>
            <p>
              This is where the developer must run a consultation with people
              and organisations. You can get involved at this stage by finding
              the developer's website.
            </p>
          </li>

                              <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                  <span class="govuk-details__summary-text">
                                  <strong>  October 2019 </strong>
                                  </span>
                                </summary>
                                <div class="govuk-details__text">
                                  <ul class="govuk-list govuk-list-bulleted">
                                    <li> 25 October 2019 - Application received by the Planning Inspectorate</li>

                                  </ul>
                                </div>
                              </details>
                              <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                  <span class="govuk-details__summary-text">
                                  <strong>  November 2019</strong>
                                  </span>
                                </summary>
                                <div class="govuk-details__text">
                                  <ul class="govuk-list govuk-list-bulleted">
                                    <li>22 November 2019 - Decision on whether or not to accept the application for examination </li></ul>
                                </div>
                              </details>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a href="../../dco-process-guide/review-of-the-application"
                >Review of application</a
              >
              <span class="tag-wrapper">
                <strong class="govuk-tag govuk-tag--green">Completed</strong>
              </span>
            </h2>
            <p>
              This is called the Acceptance stage. This is when the developer
              sends us their application, including the consultation they have
              carried out. We have 28 days to make this decision.
            </p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong>   November 2019</strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li>22 November 2019 - The application has been accepted for examination  </li>
                  <li> <a href="#" class="govuk-button">Read the letter</a></li>
                </ul>
              </div>
            </details>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a href="../../dco-process-guide/pre-examination"
                >Pre-examination</a
              >
              <span class="tag-wrapper">
                <strong class="govuk-tag govuk-tag--green">Completed</strong>
              </span>
            </h2>
            <p>
              We identify an inspector or a panel of inspectors called the
              Examining Authority and make a plan for the Examination stage.
              Anyone who wants to have their say will be able to register at
              this stage. Registration is open for 30 days.
            </p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong>   November 2019</strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li> 29 November 2019 - Registration of interested parties begins </li></ul>
              </div>
            </details>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong>   January 2020  </strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li> 03 January 2020 - An <a href="#"> Examining Authority has been appointed</a>. </li> <br>
                  <li>  03 January 2020 - You can now <a href="#"> register to have your say about this project</a>. </li><br>
                  <a href="#" class="govuk-button">Register online</a>
                <li>  If you wish to have your say on this project you must register for each application separately. If you are unable to complete a registration form online and would like to register your interest, please call the helpline on: 0303 444 5000 to request a paper form. For further advice please see <a href="#">  Advice Note 8.2: How to register to participate in an Examination.</a>
                     Please see our <a href="#"> Frequently Asked Questions for more information</a>.</li><br>

                       <li> 27 January 2020 - Registration of interested parties closes </li>
                  </ul>
              </div>
            </details>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong>   February 2020 </strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li>20 February 2020 - Relevant representations published on the website </li></ul>
              </div>
            </details>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong>   March 2020 </strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li>04 March 2020 - <a href="#"> Agendas for the March 2020 Hearings </a> have been published.</li>
                  </ul>
              </div>
            </details>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong>   April 2020 </strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li> 06 April 2020 - <a href="#"> Responses to the Rule 6 and other Additional Submissions </a> have been published.</li>
                  </ul>
              </div>
            </details>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong>   May 2020 </strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li> 21 May 2020 - The Examining Authority has issued a <a href="#">Procedural Decision </a> in respect of draft submissions and inviting representations on how hearings might be held: these representations should be provided as responses to the online questionnaire, by 5pm 11 June 2020.</li>
                  <br>
                  <li> <a href="#" class="govuk-button">Representations questionnaire</a></li>
                    <li> <a href="#">Frequently Asked Questions </a> (version 1.0) document has also now been published.</li> <br>
                      <li>29 May 2020 - It is important that all Interested Parties who might wish to
                        participate in hearings respond to the online questionnaire inviting representations on how
                        virtual hearings might be held by 5pm on 11 June 2020.  Responses to this questionnaire will help the
                        Examining Authority develop hearings that meet public health requirements and Interested Parties’ needs.
                        The questionnaire is easy to complete on an internet connected device:
                        computer, laptop, tablet or smartphone.</li>
                        <br>
                        <li> <a href="#" class="govuk-button">Representations questionnaire</a></li>
                        <li>The Planning Inspectorate has sent postal notifications to Interested Parties for whom we have no email address: if they are unable to access the electronic version of the questionnaire they can contact the Case team on 0303 444 5000 for assistance with this between the hours of 9:00am and 12 noon, Monday to Friday.
                        </li>

                  </ul>
              </div>
            </details>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong>   June 2020 </strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li> 08 June 2020 - Please remember that there is a deadline this Thursday 11 June at 5pm for the following:</li>
                  <li> - Responses to the questionnaire on how virtual hearings might be used to examine the application, to inform our thinking on the forthcoming examination</li>
                  <li> - Responses to procedural decisions for the submission of early drafts of Statements of Common Ground (7.1) and Comments on Relevant Representations (11).</li> <br>
                  <li> 26 June 2020 - The Examining Authority has exercised its discretion to accept Additional Submissions in direct response to questions and on procedural matters from:</li>
                    <li> - <a href="#"> Acme Limited </a> </li>
                    <li> - <a href="#"> Marine Organisation </a> </li>
                    <li>- <a href="#"> East Council and East County Council</a>. </li> <br>
                      <li>These documents have been added to the <a href="#"> Examination Library</a>. Please note that the Examination has not yet started so, whilst the ExA is interested in your views about how the Examination could be run, it cannot consider any submissions about the planning merits of the application. Those must be made later, during the Examination itself. As the ExA has not called for any written submissions other than responses to the questionnaire and procedural matters, it will not accept, consider or publish
                        any written submissions that address the planning merits of the application. </li>
                  </ul>
              </div>
            </details>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a href="../../dco-process-guide/examination"
                >Examination of the application</a
              >
              <span class="tag-wrapper">
                <strong class="govuk-tag govuk-tag--blue">In progress</strong>
              </span>
            </h2>
            <p>
              The examination stage is where the Examining Authority, the
              developer and anyone who has registered to have their say will get
              involved and comment on the proposed development at a number of
              set deadlines. This stage takes six months.
            </p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong>   October 2020</strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li>07 October 2020 - The Open Floor Hearing (OFH1A) reserved to start at 10.00am on 8 October 2020 will no longer be required and is therefore cancelled.
                    Open Floor Hearing 2 (OFH2) will still commence at 2pm on 8 October 2020 as notified within the Rule 6 Letter.
                    Those parties speaking at the Open Floor Hearings this week will be sent joining instructions on how to participate before each event.
                    The <a href="#" >Livestream of Open Floor Hearing 1-3 </a> is available for those wishing to observe this week in real time. Please refer to the <a href="#" >Agenda for OFH 1-3 </a>(PDF, 227kb) to see when each event will start broadcasting ‘LIVE’. If the Livestream doesn’t initially work, it may be resolved by refreshing the page or if you can’t hear anything, it may be that your sound is turned off and therefore un-muting or increasing the sound volume may resolve the issue.
                  </li> <br>
                    <li> 08 October 2020 - The OFH2AB reserved to start at 6pm this evening (8 October 2020) will no longer be required and is therefore cancelled.
                        Open Floor Hearing 3 (OFH3) will still commence at 10am on 9 October 2020 as notified within the Rule 6 Letter.
                        Those parties speaking at the Open Floor Hearings this week will be sent joining instructions on how to participate before each event.
                        <a href="#" >The Livestream of Open Floor Hearing 1-3 </a>is available for those wishing to observe this week in real time. Please refer to the <a href="#" >Agenda for OFH 1-3 </a>(PDF, 227kb) to see when each event will start broadcasting ‘LIVE’. If the Livestream doesn’t initially work, it may be resolved by refreshing the page or if you can’t hear anything, it may be that your sound is turned off and therefore un-muting or increasing the sound volume may resolve the issue.
                      </li> <br>
                  <li> 12 October 2020 - The Examination Timetable (Rule 8 letter) has been sent to Interested Parties Procedural decision following Preliminary Meeting
                  </li> <br>
                  <li> 16 October 2020 - Recordings of both parts of the Preliminary Meetings and Open Floor Hearings 1, 2 and 3 (OFHs 1 – 3) have been published.</li> <br>
                  <li> 19 October 2020 - The Rule 8 Letter confirms the timetable and procedural decisions for the Examination. Read the letter
                      The Preliminary Meeting recordings and meeting note (PDF, 565KB) for both parts have now been published.
                      Open Floor Hearings 1-3 (OFH1-3) recordings and action list (PDF, 117KB) are also available.
                      The Examining Authority has carried out its fourth Unaccompanied Site Inspection (USI4) and the USI4 Site Note (PDF, 4MB) undertaken on 12-13 October 2020 has been published. Please review this note prior to making any site inspection nomination for Deadline 1.
                    </li>
                </ul>
              </div>
            </details>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong>   November 2020</strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li>04 November 2020 - <a href="#" >The Livestream of Open Floor Hearing 4-5 </a> is available for those wishing to observe this week in real time. Please refer to the <a href="#" >updated Agenda for Open Floor Hearing 4 and 5 </a>(PDF, 107 KB) to see when each event will start broadcasting ‘LIVE’ and the updated List of Speakers per event. If the Livestream doesn’t initially work, it may be resolved by refreshing the page or if you can’t hear anything, it may be that your sound is turned off and therefore un-muting or increasing the sound volume may resolve the issue. The Examining Authority has carried out its fifth Unaccompanied Site Inspection (USI5) and
                    the<a href="#" > USI5 Site Note </a>(PDF, 3 MB) undertaken on 30 October 2020 has been published. </li><br>
                  <li> 05 November 2020 - The OFH4A reserved to start at 2pm this afternoon (5 November 2020) will no longer be required and is therefore cancelled.
                      The Livestream of Open Floor Hearing 5 is available for those wishing to observe it this week in real time. Please refer to the updated Agenda for Open Floor Hearing 4 and 5 (PDF, 107 KB) to see when each event will start broadcasting ‘LIVE’ and the updated List of Speakers per event. If the Livestream doesn’t initially work, it may be resolved by refreshing the page or if you can’t hear anything, it may be that your sound is turned off and therefore un-muting or increasing the sound volume may resolve the issue.</li> <br>
                      <li>209 November 2020 - Deadline 1 submissions received from the Applicant and Interested Parties have now been published.</li><br>
                      <li>13 November 2020 - Open Floor Hearings 4 & 5 (OFH4&5) recordings and action list are now available.  </li><br>
                      <li>19 November 2020 - The Examining Authority has issued a Procedural Decision in relation to the Applicant’s change application (PDF, 173KB) and published an updated Ongoing Procedural Decision Tracker, (PDF, 125KB) along with a Compulsory Acquisition (Regulation 2010) Regulation 6 – Proposed Provisions Checklist (PDF, 154KB).
          Having considered the range of submissions received at Deadline 1, whilst also preparing for events to be held from 1 – 3 December 2020, the ExAs have decided that further Written Questions (ExQ2) will not be published on 26 November 2020. </li> <br>
                      <li>24 November 2020 - The Agendas for Issue Specific Hearing 1 (ISH1) into Biodiversity and HRA (PDF, 167KB), Compulsory Acquisition Hearing 1 (CAH1) (PDF, 148KB) and Issue Specific Hearing 2 (ISH2) into Onshore siting, design and construction (PDF, 144KB); commencing week of 30 November 2020 have now been published.
          The Examining Authority has used its discretion to accept the late submission made by SASES and these have now been published.  </li> <br>
                      <li>27 November 2020 - Joining instructions have been sent to all invitees for events commencing week of 30 November 2020. The Livestream for Events w/c 30 November 2020. is available for those wishing to observe in real time. Please refer to the Agendas for Issue Specific Hearing 1 (ISH1) into Biodiversity and HRA (PDF, 167KB), Compulsory Acquisition Hearing 1 (CAH1) (PDF, 148KB) and Issue Specific Hearing 2 (ISH2) into Onshore siting, design and construction (PDF, 144 KB) to see when each event will start broadcasting ‘LIVE’.
          The Applicant has provided a presentation to cover Agenda items 3b and 3c during ISH2, this has been accepted by the ExA as an additional submission (PDF, 5MB) on 26 November 2020 and published to the project page.
          If the Livestream doesn’t initially work, it may be resolved by refreshing the page or if you can’t hear anything, it may be that your sound is turned off and therefore un-muting or increasing the sound volume may resolve the issue.  </li>
                </ul>
              </div>
            </details>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong>   December 2020</strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li>02 December 2020 - The <a href="#" >Applicant has submitted a revised dDCO and Schedule of Changes </a>which has been accepted by the ExA as an additional submission on 01 December 2020, the ExA has also on 02 December 2020 accepted the additional submission made by <a href="#" >Action group regarding Cumulative Impact </a>(PDF, 6MB).
                    <a href="#" >  Issue Specific Hearing 1 Action Points </a>(PDF, 121KB) have now been published.
                      The <a href="#" >Livestream for ISH2 </a>is available for those wishing to observe in real time. Please refer to the Agenda for <a href="#" >Issue Specific Hearing 2 (ISH2) into Onshore siting, design and construction </a>(PDF, 144KB) to see when the event will start broadcasting ‘LIVE’.
                      The <a href="#" >Applicant has provided a presentation to cover Agenda items 3b and 3c during ISH2</a> (PDF, 5MB), this has been accepted by the ExA as an additional submission on 26 November 2020 and published to the project page.
                      If the Livestream doesn’t initially work, it may be resolved by refreshing the page or if you can’t hear anything, it may be that your sound is turned off and
                      therefore un-muting or increasing the sound volume may resolve the issue. </li> <br>
                  <li>04 December 2020 - The reserved hearings scheduled to start today (4 December 2020) at 10am are no longer required and have therefore been cancelled.</li><br>
                    <li> 04 December 2020 - The action points for Compulsory Acquisition Hearing 1 (CAH1) (PDF, 167KB)
          and Issue Specific Hearing 2 (ISH2) (PDF, 212KB) has now been published.
          </li><br>
                      <li> 07 December 2020 - Following the Examining Authority’s (ExA) decision to accept the Additional Land Application (PDF, 172KB) for examination, comments are now invited on the Applicant’s proposed provision by Deadline 4 – 13 January 2021.
          Please note that any comments must be made on the Registration and Relevant Representation Form and must relate to the Applicant’s application for Additional Land  (PDF, 4MB) only; any submissions that are not in relation to the application for Additional Land, or are not on the prescribed form, will not be seen by the ExA and will be disregarded. Comments submitted after the deadline will also be disregarded.</li><br>
                        <li> 08 December 2020 - The Examining Authority Rule 8(3) Letter (PDF, 468KB) has been published, giving details of changes to the Examination Timetable and notification for events to be held in January 2021.
                          The Frequently Asked Questions has been updated and published. The recordings and transcripts for Issue Specific Hearings and Compulsory Acquisition Hearings held w/c 30 November 2020 have been published, including ISH1 Action Points, CAH1 Action Points and ISH2 Action Points.
                          Following the Examining Authority’s (ExA) decision to accept the Additional Land Application (PDF, 172KB) for examination, comments are now invited on the Applicant’s proposed provision by Deadline 4 – 13 January 2021.
                          Please note that any comments must be made on the Registration and Relevant Representation Form and must relate to the Applicant’s application for Additional Land  (PDF, 4MB) only; any submissions that are not in relation to the application for Additional Land, or are not on the prescribed form, will not be seen by the ExA and will be disregarded. Comments submitted after the deadline will also be disregarded.</li><br>
                          <li>17 December 2020 - Deadline 3 submissions have now been published. A Rule 17 Request has been issued to the Applicant and other named Interested Parties. Any parties wishing to provide a response to any questions within this letter can do so by Deadline 4.</li>
                </ul>
              </div>
            </details>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong> January 2021</strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li>08 January 2021 - The Agendas for the following events have been published:
                    <a href="#" >  Issue Specific Hearing 3 (ISH3) into Biodiversity and Habitats Regulations Assessment</a> (PDF, 172 KB)
                      <a href="#" >Issue Specific Hearing 4 (ISH4) into Onshore Environment, construction, transport and operational effects</a> (PDF, 142 KB)
                    <a href="#" >  Issue Specific Hearing 5 into Social, economic, land and sea use effects (ISH5)</a> (PDF, 133 KB) and
                      <a href="#" >Open Floor Hearings 6 and 7 (OFH6 and OFH7) </a>(PDF, 69 KB) – has been updated 13 January 2021
                      The Agenda for Issue specific Hearing 6 (ISH6) and the Itineraries for Accompanied Site Inspection 1 and 2 (ASI1 and ASI2) will be published no later than 19 January 2021
                      </li><br>
                  <li> 19 January 2021 - The livestream for events w/c 18 January 2021 is available for those wishing to observe in real time.
          Please refer to the appropriate Agendas for each day, being ISH3 into Biodiversity and HRA (PDF, 172 KB)  (Tuesday) ; ISH4 into Onshore Environment, Construction, Transport and Operational effects (PDF, 212 KB) (Tuesday and Wednesday); ISH5 into Social, Economic, Land and Sea Use effects (PDF, 206 KB)  (Thursday) and Open Floor Hearing 6 (PDF, 106 KB)  (Friday), which have been published.
          The final updated Site Inspection Itinerary  ( PDF, 3MB)  (Tuesday 26 and Wednesday 27 January), Agenda for Open Floor Hearing 7 (PDF, 106 KB)  (Thursday 28 January) and the Agenda for ISH6 into the Draft DCO  (PDF , 213KB)  (Friday 29 January) for events commencing w/c 25 January 2021 has been published.
          </li><br>
                  <li>22 January 2021 - The reserved time for Open Floor Hearings 6A scheduled to start this afternoon (22 January 2021) is no longer required and has therefore been cancelled. Furthermore the time reserved for Issue Specific Hearings 3A, Issue Specific Hearings 4A and Issue Specific Hearings 5A in w/c 1 February 2021 will no longer be required and have therefore been cancelled.
          Action lists for Issue Specific Hearings 3 (ISHs3) (PDF, 99 KB) and Open Floor Hearings 6 (OFHs6) (PDF, 97 KB) have been published.</li><br>
                  <li> 25 January 2021 - The Examining Authority Rule 8(3) Letter (PDF, 258KB) has been published, giving details of changes to the Examination Timetable and notification for events to be held in February 2021. Please refer to the appropriate Actions Points for: ISH3 into Biodiversity and HRA (PDF, 99KB); ISH4 into Onshore Environment, Construction, Transport and Operational effects (PDF, 92KB); ISH5 into Social, Economic, Land and Sea Use effects (PDF, 93KB) and Open Floor Hearing 6 (PDF, 97KB), which have been published.Agenda for Open Floor Hearing 7 (PDF, 106KB)
                    (Thursday 28 January) and the Agenda for ISH6 into the Draft DCO (PDF, 213KB) (Friday 29 January)
                    has been published. You can access the livestream for these events here.</li>

                </ul>
              </div>
            </details>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a href="../../dco-process-guide/recommendation-and-decision"
                >Recommendation and decision</a
              >
              <span class="tag-wrapper">
                <strong class="govuk-tag govuk-tag--grey">Not started</strong>
              </span>
            </h2>
            <p>
              Recommendation and decision is where the Examining Authority
              writes its recommendation report. This must be completed and sent
              to the Secretary of State within three months of the end of
              Examination. The relevant Secretary of State then makes the final
              decision.
            </p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <strong> December 2021</strong>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list-bulleted">
                  <li>1 December 2021 - Decision made by the Secretary of State</li><br>
                  <li> 1 December 2021 - The Secretary of State has granted development consent for this application.
                    For further information please refer to the following decision
                    documentation:</li>
                  <li>  <a href="#">Planning Inspectorate Notification of Decision Letter</a></li>
                  <li> <a href="#"> Secretary of State Decision Letter</a></li>
                  <li>  <a href="#">Development Consent Order as made by the Secretary of State</a></li>
                  <li>  <a href="#">Examining Authority’s Recommendation Report</a></li>
                  <li>  <a href="#">Regulation 23 Notice</a></li>
                </ul>
              </div>
            </details>

    </div>
    </div>
  </main>
</div>
{% endblock %} {% block footer %}
<div class="govuk-footer pins-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <ul class="pins-footer-links govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item"><a href="#" class="govuk-footer__link">Sitemap</a></li>
          <li class="govuk-footer__inline-list-item"><a href="#" class="govuk-footer__link">Terms and conditions</a></li>
          <li class="govuk-footer__inline-list-item"><a href="#" class="govuk-footer__link">Accessibility</a></li>
          <li class="govuk-footer__inline-list-item"><a href="#" class="govuk-footer__link">Privacy Notice (on GOV.UK)</a></li>
          <li class="govuk-footer__inline-list-item"><a href="#" class="govuk-footer__link">Cookies</a></li>
        </ul>
        <span class="govuk-footer__licence-description">
          Site content: Copyright 2021 <a href="../index">The Planning Inspectorate</a>
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
