{% extends "layout.html" %} {% block pageTitle %} A404 Dewsbury project overview
{% endblock %} {% block headIcons %}
<link
  rel="shortcut icon"
  href="{{ asset_path }}images/unbranded.ico?0.18.3"
  type="image/x-icon"
/>
{% endblock %} {% block head %}
<!--[if lte IE 8
  ]><link
    href="/public/stylesheets/unbranded-ie8.css"
    rel="stylesheet"
    type="text/css"
/><![endif]-->
<!--[if gt IE 8]><!-->
<link
  href="/public/stylesheets/unbranded.css"
  media="all"
  rel="stylesheet"
  type="text/css"
/>
<!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

<!-- Mapbox resources -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
  rel="stylesheet"
/>
<!-- end Mapbox -->
{% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ pinsHeader() }} {% endblock %} {% block beforeContent %} {{
govukPhaseBanner({ tag: { text: "beta" }, html: 'This is a new service – your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}
{% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
        <h1 class="govuk-heading-xl">A404 Dewsbury</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {% set current = 'project-timeline' %}
        {% include "./vertical_tabs.html" %}
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-m">Project timeline</h2>

       
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a href="../../dco-process-guide/pre-application"
                >Pre-application</a
              >
              <span class="tag-wrapper">
                <strong class="govuk-tag govuk-tag--green">Completed</strong>
              </span>
            </h2>
            <p>
              This is where the developer must run a consultation with people
              and organisations. You can get involved at this stage by finding
              the developer's website.
            </p>
          </li>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a href="../../dco-process-guide/review-of-the-application"
                >Review of application</a
              >
              <span class="tag-wrapper">
                <strong class="govuk-tag govuk-tag--green">Completed</strong>
              </span>
            </h2>
            <p>
              This is called the Acceptance stage. This is when the developer
              sends us their application, including the consultation they have
              carried out. We have 28 days to make this decision.
            </p>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a href="../../dco-process-guide/pre-examination"
                >Pre-examination</a
              >
              <span class="tag-wrapper">
                <strong class="govuk-tag govuk-tag--green">Completed</strong>
              </span>
            </h2>
            <p>
              We identify an inspector or a panel of inspectors called the
              Examining Authority and make a plan for the Examination stage.
              Anyone who wants to have their say will be able to register at
              this stage. Registration is open for 30 days.
            </p>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a href="../../dco-process-guide/examination"
                >Examination of the application</a
              >
              <span class="tag-wrapper">
                <strong class="govuk-tag govuk-tag--blue">In progress</strong>
              </span>
            </h2>
            <p>
              The examination stage is where the Examining Authority, the
              developer and anyone who has registered to have their say will get
              involved and comment on the proposed development at a number of
              set deadlines. This stage takes six months.
            </p>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a href="../../dco-process-guide/recommendation-and-decision"
                >Recommendation and decision</a
              >
              <span class="tag-wrapper">
                <strong class="govuk-tag govuk-tag--grey">Not started</strong>
              </span>
            </h2>
            <p>
              Recommendation and decision is where the Examining Authority
              writes its recommendation report. This must be completed and sent
              to the Secretary of State within three months of the end of
              Examination. The relevant Secretary of State then makes the final
              decision.
            </p>
       
    </div>
    </div>
  </main>
</div>
{% endblock %} {% block footer %} {{ pinsFooter() }} {% endblock %}
