{% extends "layout.html" %} {% block pageTitle %} A404 Dewsbury project overview
{% endblock %} {% block headIcons %}
<link
  rel="shortcut icon"
  href="{{ asset_path }}images/unbranded.ico?0.18.3"
  type="image/x-icon"
/>
{% endblock %} {% block head %}
<!--[if lte IE 8
  ]><link
    href="/public/stylesheets/unbranded-ie8.css"
    rel="stylesheet"
    type="text/css"
/><![endif]-->
<!--[if gt IE 8]><!-->
<link
  href="/public/stylesheets/unbranded.css"
  media="all"
  rel="stylesheet"
  type="text/css"
/>
<!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

<!-- Mapbox resources -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
  rel="stylesheet"
/>
<!-- end Mapbox -->
{% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ pinsHeader() }} {% endblock %} {% block beforeContent %} {{
govukPhaseBanner({ tag: { text: "beta" }, html: 'This is a new service – your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}
{% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
        <h1 class="govuk-heading-xl">A404 Dewsbury</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">

       {% set current = 'comments' %}
        {% include "../includes/exam_vertical_tabs.html" %}

      </div>
       

      <div class="govuk-grid-column-one-half">
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
            <p class="results"><strong><span id="results-number">18</span> results<strong></p>
          </div>

          <div style="display:flex; flex-direction: row; position:relative; left: 85px;" class="govuk-grid-column-one-full">
            <label class="govuk-label govuk-!-margin-right-2" for="document-results-sort">Sort by</label>
            <select id="document-results-sort" class="govuk-select">
              <option selected>Most read</option>
              <option >Least read</option>
              <option >First submitted</option>
              <option >Last submitted</option>
            </select>
          </div>
        </div>

        <hr
          class="
            govuk-section-break govuk-!-margin-bottom-6
            govuk-section-break--visible
          "
        />

        <!-- loop across the representations in data/representations -->
        {% for representation in representations %}
        <span class="govuk-caption-m">Representation by</span>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
          <a
            href="javascript:{}"
            onclick="document.getElementById('representationsForm{{ loop.index0 }}').submit(); "
          >
            {{ representation.by }} {% if representation.onBehalf %} on behalf
            of {{ representation.onBehalf }} {% endif %}
          </a>
        </h3>
        <p>
          <!-- show the comment -->
          {{ representation.comment | truncate(250) }}
          <!-- show read more link if the content has been truncated -->
          {% if representation.comment.length >= 250 %}
          <a
            href="javascript:{}"
            onclick="document.getElementById('representationsForm{{ loop.index0 }}').submit(); "
          >
            read more
          </a>
          {% endif %}
        </p>
        {% if representation.attachment %}
        <p>There is <a href="#"> one document attached</a> to this comment.</p>
        {% endif %}
        <p class="govuk-body-s">Submitted on {{ representation.date }}</p>

        <hr
          class="
            govuk-section-break
            govuk-section-break--l
            govuk-section-break--visible
          "
        />
        {# this form submits to send the server the index of the item that was
        just clicked #}
        <form
          id="representationsForm{{ loop.index0 }}"
          method="post"
          action="representation"
        >
          {# hidden label #}
          <label class="hidden" for="representation"> I have a bike</label>
          {# hidden input, updating the value with the index of the loop #}
          <input
            class="hidden"
            value="{{ loop.index0 }}"
            type="number"
            name="representation"
            id="representation"
          />
        </form>
        {% endfor %}



  <nav class="hmcts-pagination" id="pagination-label">

<p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

<ul class="hmcts-pagination__list">

<li class="hmcts-pagination__item  hmcts-pagination__item--prev">
  <a class="hmcts-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
</li>

<li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="">1</a></li>

<li class="hmcts-pagination__item hmcts-pagination__item--dots">...</li>

<li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="">5</a></li>

<li class="hmcts-pagination__item hmcts-pagination__item--active">6</li>

<li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="">7</a></li>

<li class="hmcts-pagination__item hmcts-pagination__item--dots">...</li>

<li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="">10</a></li>

<li class="hmcts-pagination__item  hmcts-pagination__item--next">
  <a class="hmcts-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
</li>

</ul>

<p class="hmcts-pagination__results">Showing <b>10</b> to <b>20</b> of <b>256</b> results</p>

</nav> 

      </div>
      <div class="govuk-grid-column-one-quarter">
      <!--<button id="toggleFilters" class="govuk-button govuk-button">Show search and filters</button>-->
        <div id="expandingFilterSection" class="expandingFilterSection govuk-!-margin-bottom-6">

        <div class="govuk-form-group">
          <h3 class="govuk-label-wrapper">

            <div class="moj-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>

    <hr>

          <div>
            <a href="#" class="govuk-button govuk-!-margin-top-2">Apply filters</a>
            <label class="govuk-label govuk-label--s" for="keyword">
              Keywords
            </label>
          </h3>
          <input
            class="govuk-input"
            id="keyword"
            name="keyword"
            type="text"
          />
        </div>

        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
              Filter by theme
            </h2>
          </legend>
          <fieldset class="govuk-fieldset" aria-labelledby="who-submitted">
            <div class="govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="theme-noise-traffic-air"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="theme-noise-traffic-air"
                  >Noise, traffic and air quality</label
                >
              </div>

              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="theme-landscape-visual"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="theme-landscape-visual"
                  >Landscape and visual</label
                >
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="heritage"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="heritage"
                  >Heritage</label
                >
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="theme-wildlife-habitats"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="theme-wildlife-habitats"
                  >Local wildlife and habitats</label
                >
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
              Who submitted
            </h2>
          </legend>

          <fieldset class="govuk-fieldset" aria-labelledby="who-submitted">
            <div class="govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="who-submitted-examining-panel"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="who-submitted-examining-panel"
                  >Examining authority</label
                >
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="who-submitted-developer"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="who-submitted-developer"
                  >Developer</label
                >
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="who-submitted-individual-interested-party"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="who-submitted-individual-interested-party"
                  >Individual interested party</label
                >
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="who-submitted-organisation-interested-party"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="who-submitted-organisation-interested-party"
                  >Organisation interested party</label
                >
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  type="checkbox"
                  name="theme"
                  id="who-submitted-official-body-and-local-authority"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="who-submitted-official-body-and-local-authority"
                  >Official bodies and local authorities</label
                >
              </div>
                <a href="#" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-0">Apply filters</a>
            </div>
          </fieldset>
        </div>
    </div>
    {# end of filters #}
  </main>
</div>

{% endblock %} {% block footer %} {{ pinsFooter() }} {% endblock %}
