<header class="pins-header govuk-header {{ params.classes if params.classes }}" role="banner" data-module="govuk-header"
        {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="govuk-header__container {{ params.containerClasses | default('govuk-width-container') }}">
    <div class="govuk-header__logo">
      <a href="{{ params.homepageUrl | default('/') }}" class="govuk-header__link govuk-header__link--homepage" aria-label="Planning Inspectorate">
        <span class="govuk-header__logotype pins-header__logotype">

{% if params.locale == "cy" %}
  {% include "../pins-logo/logo-cy.njk"  %}
{% else %}
  {% include "../pins-logo/logo-en.njk"  %}
{% endif %}

        </span>

        {% if (params.productName) %}
          <span class="govuk-header__product-name">
            {{ params.productName }}
          </span>
        {% endif %}
      </a>
    </div>

    <div class="govuk-header__content">
    {% if params.serviceName %}
        <a href="{{ params.serviceUrl }}" class="govuk-header__link govuk-header__link--service-name">
          {{ params.serviceName }}
        </a>

    {% endif %}

    {% if params.serviceNameNoLink %}

        <span style="font-size: 1.5rem;font-weight: 700;">  {{ params.serviceNameNoLink }}</span>


    {% endif %}


      {% if params.saveAndExit %}
        <a role="button" class="ons-btn" href="/sprint-6/pre-examination/register/save-and-continue/confirmation">
          <span class="ons-btn__inner">Save and exit <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
              <path d="M13.85,7.65l-2.5-2.5a.5.5,0,0,0-.71,0,.48.48,0,0,0-.15.36V7h-3a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h3v1.5A.49.49,0,0,0,11,11a.48.48,0,0,0,.34-.14l2.51-2.5a.49.49,0,0,0,0-.68Z" transform="translate(-2 -2)"></path>
              <path d="M8.5,14h-6a.5.5,0,0,1-.5-.5V2.5A.5.5,0,0,1,2.5,2h6a.5.5,0,0,1,.5.5V3a.5.5,0,0,1-.5.5h-5v9h5A.5.5,0,0,1,9,13v.5A.5.5,0,0,1,8.5,14Z" transform="translate(-2 -2)"></path>
            </svg>
          </span>
        </a>
        {% elif params.returnToOverviewLink %}
          <a href="{{params.returnToOverviewLink}}" class="govuk-button govuk-button--secondary">{{params.returnToOverviewContent}}</a>
        {% else %}
        {# <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="{{ params.menuButtonLabel | default('Show or hide navigation menu') }}">Menu</button>
        <nav>
          <ul id="navigation" class="govuk-header__navigation {{ params.navigationClasses if params.navigationClasses }}" aria-label="{{ params.navigationLabel | default('Navigation menu') }}">
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="#">FAQs</a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="#">Contact</a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="#">Sitemap</a>
            </li>
            {% for item in params.navigation %}
              {% if item.text or item.html %}
                <li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if item.active }}">
                  {% if item.href %}
                    <a class="govuk-header__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                    {% endif %}
                    {{ item.html | safe if item.html else item.text }}
                    {% if item.href %}
                    </a>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav> #}
      {% endif %}
    </div>
  </div>

</header>
