{% extends "layout.html" %}

{% block pageTitle %}
  Comments - Register to have your say
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ pinsHeader({
    serviceName: "Register to have your say about a national infrastructure project",
    serviceUrl: "/mvp/pre-examination/register/start",
saveAndExit: false
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form autocomplete="off" class="form" action="check-your-answers" method="post">
        <h1 class="govuk-heading-l">What do you want to tell us about this proposed project?</h1>

        <!-- {{ govukWarningText({
          text: "This information will be published on our website for the public. You should not include any personal details or sensistive information with your comment.",
          iconFallbackText: "Warning"
        }) }} -->


        <!-- {% set html %}
          <p class="govuk-notification-banner__heading">
            This information will be published on our website. Do not include any personal details.
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html
        }) }} -->
        <!-- <p>Do not include any personal details.</p> -->

        <p class="govuk-body">
        You must include comments with your registration. Your comments must be about what you consider to be the main issues and impacts. You can also include anything that may affect your day-to-day life.

</p>
          <p class="govuk-body">This information will be:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>seen by the Examining Authority</li>
            <li>published on our website</li>
          </ul>
          <p class="govuk-body">You will be able to submit further comments during the Examination of the application once you have registered.</p>

          {{ govukTextarea({
           label: {
              text: "Registration comments",
              classes: "govuk-label--s",
              isPageHeading: true
            },
          maxwords: 200,
          id: "myself-comment",
          name: "myself-comment"
        }) }}
          {{ govukDetails({
          summaryText: "Do not include these details.",
          html: '
            <h2 class="govuk-heading-m">Use of language, hyperlinks and sensitive information</h2>
            <p class="govuk-body">You should not use racist, inflammatory or abusive language, or include sensitive information (also called special category information) about yourself or others in your comments.</p>
            <p class="govuk-body">Do not include links to third party websites. You can include links to either GOV.UK or websites for chartered professional institutes like IEMA.</p>
            <h2 class="govuk-heading-m">Examples of sensitive information</h2>
            <p class="govuk-body">Sensitive information refers to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>comments from children</li>
              <li>information relating to children</li>
              <li>information relating to health</li>
              <li>information relating to crime</li>

            </ul>

            <p class="govuk-body">It also means any information relating to an individual&#39;s:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>race</li>
              <li>ethnic origin</li>
              <li>politics</li>
              <li>religion</li>
              <li>trade union membership</li>
              <li>genetics</li>
              <li>physical characteristics</li>
              <li>sex life</li>
              <li>sexual orientation</li>
            </ul>

            '
        }) }}

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a class="govuk-button govuk-button--secondary" href="../save-and-continue/confirmation">Save and come back later</a>
      </div>

        </form>
      </div>
    </div>

  {% endblock %}

  {% block footer %}
    {{ pinsFooter() }}
  {% endblock %}
