{% extends "layout.html" %}

{% block pageTitle %}
  Your full name - Register to have your say
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
    {{ pinsHeader({
    serviceName: "Register to have your say about a national infrastructure project",
    serviceUrl: "/mvp/pre-examination/register/start",
saveAndExit: false
  }) }}
{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form autocomplete="off" class="form" action="over-18" method="post">
        <!-- {{ govukInput({
          label: {
            text: "What is your full name?",
            classes: "govuk-label--l",
            isPageHeading: false
          },
          hint: {
            html: "<p class='govuk-hint'>We will publish this on the website along with your comments about the project.</p>
            <p class='govuk-hint'>You must register as an individual. If your partner wants to register, they will have to fill in a separate form with their details.</p>"
          },
          id: "full-name",
          name: "full-name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "What is your full name?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            html: "<p class='govuk-hint'>We will publish this on the website along with your comments about the project.</p>
            <p class='govuk-hint'>You must register as an individual. If your partner wants to register, they will have to fill in a separate form with their details.</p>"
          },
          id: "full-name",
          name: "full-name",
          spellcheck: false
        }) }} -->


        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l">
          What is your name?
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          <p class='govuk-hint'>We will publish this on the website along with your comments about the project.</p>
          {% if {{data[]}}mvp-type-of-interested-party % }
          <p class='govuk-hint'>You must register as an individual. If your partner wants to register, they will have to fill in a separate form with their details.</p>
</div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="first-name">
  First name
</label>
        <input class="govuk-input govuk-input--width-20" id="first-name" name="first-name" type="text" value="{{ data['first-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="last-name">
      Last name
      </label>
        <input class="govuk-input govuk-input--width-20" id="last-name" name="last-name" type="text" value="{{ data['last-name'] }}">
        </div>



        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ pinsFooter() }}
{% endblock %}
